### Scrape Wikipedia page, parse table of postal codes and neighborhoods, reformat entries and create Pandas dataframe.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [3]:
soup = BeautifulSoup(source,'lxml')

In [4]:
table = soup.table

In [5]:
table_body = table.find('tbody')

In [6]:
rows = table_body.find_all('tr')

So far, we have used BeautifulSoup to parse the source code from the Wikipedia page on the html 'tbody' tag, and then parsed on the 'tr' tag which defines table rows.

In [7]:
data = []
for row in rows:
    col = row.find_all('td')
    col = [e.text.strip() for e in col]
    data.append([e for e in col if e])
data = [item for item in data if item]

In [8]:
data = [item for item in data if item[1] != 'Not assigned']

The above codeblock loops over each row of the table and parses on the 'td' tag, then strips all but the text string and appends to a list. This creates a list where each entry is a row of the table. We then use a list comprehension to filter out empty lists (first entry was empty, for instance). Finally, we access the second index of each item in the list and filter out items where index 1 has the string value 'Not assigned'; this is to remove table entries where the Borough is not assigned, as instructed.

In [9]:
df = pd.DataFrame(data)

In [10]:
names = ['Postal code','Borough','Neighborhood']
df.columns = names

In [11]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

The next step is to replace all instances of slash (/) separators with commas(,). After this, we check if any dataframe entries have assigned Boroughs but unassigned Neighborhoods, and if so we will assign the Neighborhood to be the same as the Borough.

In [12]:
df['Neighborhood'] = df.apply(lambda row: row['Neighborhood'].replace(' /',','),axis=1)
df[df['Neighborhood'] == "Not assigned"]

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [13]:
df.head()

  Postal code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [14]:
print("Number of rows: " + str(df.shape[0]))

Number of rows: 103

### END PART ONE OF ASSIGNMENT

## Load postal code lat/long CSV and merge with dataframe

In [15]:
coords = pd.read_csv(r'C:\Users\Turcanhydgoongod\Documents\Jupyter\Coursera-PythonForData\Geospatial_Coordinates.csv')

In [16]:
coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

We can sort dataframes by the Postal Code and then join on that key

In [17]:
df.rename(columns={'Postal code':'Postal Code'},inplace=True)
coords.sort_values(by='Postal Code',inplace=True)
df.sort_values(by='Postal Code',inplace=True)

In [18]:
tor = pd.merge(df,coords,on='Postal Code')

In [19]:
tor.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

We now have a single dataframe consisting of a postal code, borough, neighborhood, and lat/long coordinates.

### END PART TWO OF ASSIGNMENT

In [20]:
latitude = tor['Latitude'].mean(axis=0)
longitude = tor['Longitude'].mean(axis=0)

In [21]:
import folium

map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(tor['Latitude'], tor['Longitude'], tor['Borough'], tor['Neighborhood']):
    label = '{}; {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

#### Next, we will access Foursquare's API to get more information about each neighborhood.

In [22]:
CLIENT_ID = 'VH2J1S1NRIEE0YPB5C4Q3SCS2LE4QL0WNYD01H1PQ43PY2EA'
CLIENT_SECRET = 'OC21X3LN5TD42N1MMQ0VYKQ42RE5WI32FIWFQZBKDOMX4BZZ'
VERSION = '20200303'

print('My credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

My credentails:
CLIENT_ID: VH2J1S1NRIEE0YPB5C4Q3SCS2LE4QL0WNYD01H1PQ43PY2EA
CLIENT_SECRET:OC21X3LN5TD42N1MMQ0VYKQ42RE5WI32FIWFQZBKDOMX4BZZ

In [23]:
neighborhood_latitude = tor.iloc[0][3]
neighborhood_longitude = tor.iloc[0][4]

In [24]:
LIMIT = 150
radius = 750

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)

In [25]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5e8972ed3907e7001bb86112'},
 'response': {'headerLocation': 'Malvern',
  'headerFullLocation': 'Malvern, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 10,
  'suggestedBounds': {'ne': {'lat': 43.81343630675, 'lng': -79.18501767109562},
   'sw': {'lat': 43.79993629324999, 'lng': -79.2036891289044}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '579a91b3498e9bd833afa78a',
       'name': "Wendy's",
       'location': {'address': '8129 Sheppard Avenue',
        'lat': 43.8020084,
        'lng': -79.1980797,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.8020084,
          'lng': -79.1980797}],
        'distance': 600,
        'postalCode': 'M1B 6A3',
        'cc': 'CA',
        'city': 'Scarborough',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['8129 Sheppard Avenue',
         'Scarborough ON M1B 6A3',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16e941735',
         'name': 'Fast Food Restaurant',
         'pluralName': 'Fast Food Restaurants',
         'shortName': 'Fast Food',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-579a91b3498e9bd833afa78a-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bb6b9446edc76b0d771311c',
       'name': 'Wendys',
       'location': {'crossStreet': 'Morningside & Sheppard',
        'lat': 43.80744841934756,
        'lng': -79.19905558052072,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80744841934756,
          'lng': -79.19905558052072}],
        'distance': 387,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16e941735',
         'name': 'Fast Food Restaurant',
         'pluralName': 'Fast Food Restaurants',
         'shortName': 'Fast Food',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bb6b9446edc76b0d771311c-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b16e23bf964a520edbe23e3',
       'name': 'Tim Hortons',
       'location': {'address': '8129 Sheppard Ave',
        'crossStreet': 'Morningside Ave',
        'lat': 43.801999861382,
        'lng': -79.1981689631939,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.801999861382,
          'lng': -79.1981689631939}],
        'distance': 605,
        'postalCode': 'M1B 6A3',
        'cc': 'CA',
        'city': 'Scarborough',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['8129 Sheppard Ave (Morningside Ave)',
         'Scarborough ON M1B 6A3',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'shortName': 'Coffee Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b16e23bf964a520edbe23e3-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bcb612d3740b713f0606265',
       'name': 'Staples Morningside',
       'location': {'address': '850 Milner Avenue',
        'lat': 43.80028467632823,
        'lng': -79.19660657644272,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80028467632823,
          'lng': -79.19660657644272}],
        'distance': 735,
        'postalCode': 'M1B 5N7',
        'cc': 'CA',
        'city': 'Scarborough',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['850 Milner Avenue',
         'Scarborough ON M1B 5N7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d121951735',
         'name': 'Paper / Office Supplies Store',
         'pluralName': 'Paper / Office Supplies Stores',
         'shortName': 'Office Supplies',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/papergoods_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bcb612d3740b713f0606265-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bd08ceeb221c9b6cbe8d3d0',
       'name': 'Lee Valley',
       'location': {'address': '1275 Morningside',
        'lat': 43.803161304831846,
        'lng': -79.19968142252247,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.803161304831846,
          'lng': -79.19968142252247}],
        'distance': 580,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1275 Morningside', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1fb941735',
         'name': 'Hobby Shop',
         'pluralName': 'Hobby Shops',
         'shortName': 'Hobbies',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/hobbyshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bd08ceeb221c9b6cbe8d3d0-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d669cba83865481c948fa53',
       'name': 'Images Salon & Spa',
       'location': {'address': '8130 Sheppard Ave E',
        'crossStreet': 'Morningside Ave',
        'lat': 43.80228301948931,
        'lng': -79.19856472801668,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80228301948931,
          'lng': -79.19856472801668}],
        'distance': 595,
        'postalCode': 'M1B 3W3',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['8130 Sheppard Ave E (Morningside Ave)',
         'Toronto ON M1B 3W3',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1ed941735',
         'name': 'Spa',
         'pluralName': 'Spas',
         'shortName': 'Spa',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/spa_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d669cba83865481c948fa53-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5bff1f63d69ed0002cca9a0d',
       'name': 'FASTSIGNS',
       'location': {'address': '4-1365 Morningside Ave.',
        'lat': 43.8078818,
        'lng': -79.2019677,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.8078818,
          'lng': -79.2019677}],
        'distance': 626,
        'postalCode': 'M1B 4Y5',
        'cc': 'CA',
        'city': 'Scarborough',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['4-1365 Morningside Ave.',
         'Scarborough ON M1B 4Y5',
         'Canada']},
       'categories': [{'id': '5453de49498eade8af355881',
         'name': 'Business Service',
         'pluralName': 'Business Services',
         'shortName': 'Business Services',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5bff1f63d69ed0002cca9a0d-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d472aa49c426a310401b28c',
       'name': 'Ecopainting inc.',
       'location': {'address': '1345 Morningside Avenue Unit 20',
        'lat': 43.808416849495565,
        'lng': -79.20239210128784,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.808416849495565,
          'lng': -79.20239210128784}],
        'distance': 673,
        'postalCode': 'M1B 5K3',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1345 Morningside Avenue Unit 20',
         'Toronto ON M1B 5K3',
         'Canada']},
       'categories': [{'id': '5454144b498ec1f095bff2f2',
         'name': 'Construction & Landscaping',
         'pluralName': 'Construction & Landscaping',
         'shortName': 'Construction',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/realestate_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '124790255'}},
      'referralId': 'e-0-4d472aa49c426a310401b28c-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c61c478edd320a1835bab29',
       'name': "Bella's Lechon",
       'location': {'address': '1139 Morningside Ave, Unit 23',
        'lat': 43.801291493380624,
        'lng': -79.19837794754201,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.801291493380624,
          'lng': -79.19837794754201}],
        'distance': 682,
        'postalCode': 'M1B 0A7',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1139 Morningside Ave, Unit 23',
         'Toronto ON M1B 0A7',
         'Canada']},
       'categories': [{'id': '4eb1bd1c3b7b55596b4a748f',
         'name': 'Filipino Restaurant',
         'pluralName': 'Filipino Restaurants',
         'shortName': 'Filipino',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/filipino_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c61c478edd320a1835bab29-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e389459b61c438b547e8ed4',
       'name': 'Rouge Park - Woodland Trail',
       'location': {'lat': 43.80178186082014,
        'lng': -79.20042735921538,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80178186082014,
          'lng': -79.20042735921538}],
        'distance': 732,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '4bf58dd8d48988d159941735',
         'name': 'Trail',
         'pluralName': 'Trails',
         'shortName': 'Trail',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/hikingtrail_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e389459b61c438b547e8ed4-9'}]}]}}

In [26]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [27]:
pd.json_normalize(results)

,meta.code,meta.requestId,response.headerLocation,response.headerFullLocation,response.headerLocationGranularity,response.totalResults,response.suggestedBounds.ne.lat,response.suggestedBounds.ne.lng,response.suggestedBounds.sw.lat,response.suggestedBounds.sw.lng,response.groups
0,200,5e8972ed3907e7001bb86112,Malvern,"Malvern, Toronto",neighborhood,10,43.813436,-79.185018,43.799936,-79.203689,"[{'type': 'Recommended Places', 'name': 'recom..."

In [28]:
def getCatType(row):
    try:
        return row['categories'][0].get('name')
    except:
        return row['venue.categories'][0].get('name')

In [29]:
def getCatType(row):
    try:
        return row['categories'][0].get('name')
    except KeyError:
        pass
    try:
        return row['venue.categories'][0].get('name')
    except:
        print(row)

In [30]:
venues = results['response']['groups'][0]['items']
venues = pd.json_normalize(venues)

In [31]:
venues['venue.categories'] = venues.apply(getCatType,axis=1)

In [32]:
venues.columns

Index(['referralId', 'reasons.count', 'reasons.items', 'venue.id',
       'venue.name', 'venue.location.address', 'venue.location.lat',
       'venue.location.lng', 'venue.location.labeledLatLngs',
       'venue.location.distance', 'venue.location.postalCode',
       'venue.location.cc', 'venue.location.city', 'venue.location.state',
       'venue.location.country', 'venue.location.formattedAddress',
       'venue.categories', 'venue.photos.count', 'venue.photos.groups',
       'venue.location.crossStreet', 'venue.venuePage.id'],
      dtype='object')

In [33]:
venues_to_keep = ['venue.name','venue.location.lat','venue.location.lng','venue.categories']
venues = venues[venues_to_keep]
new_names = ['Venue Name','Venue Location Lat','Venue Location Long','Venue Categories']
rename_dict = dict(zip(venues_to_keep, new_names))
venues = venues.rename(rename_dict,axis=1)

In [34]:
venues

,Venue Name,Venue Location Lat,Venue Location Long,Venue Categories
0,Wendy's,43.802008,-79.198080,Fast Food Restaurant
1,Wendys,43.807448,-79.199056,Fast Food Restaurant
2,Tim Hortons,43.802000,-79.198169,Coffee Shop
3,Staples Morningside,43.800285,-79.196607,Paper / Office Supplies Store
4,Lee Valley,43.803161,-79.199681,Hobby Shop
5,Images Salon & Spa,43.802283,-79.198565,Spa
6,FASTSIGNS,43.807882,-79.201968,Business Service
7,Ecopainting inc.,43.808417,-79.202392,Construction & Landscaping
8,Bella's Lechon,43.801291,-79.198378,Filipino Restaurant
9,Rouge Park - Woodland Trail,43.801782,-79.200427,Trail

### After this proof of concept, we write a function that will loop over our list of neighborhoods and build a data frame of venues

In [39]:
def buildVenuesDataframe(df, radius=750, LIMIT=150, VERSION = '20200303'):
    venue_df = pd.DataFrame()
    new_names = ['Venue Name','Venue Lat','Venue Long','Venue Categories']
    venues_to_keep = ['venue.name','venue.location.lat','venue.location.lng','venue.categories']
    rename_dict = dict(zip(venues_to_keep, new_names))
    CLIENT_ID = 'VH2J1S1NRIEE0YPB5C4Q3SCS2LE4QL0WNYD01H1PQ43PY2EA'
    CLIENT_SECRET = 'OC21X3LN5TD42N1MMQ0VYKQ42RE5WI32FIWFQZBKDOMX4BZZ'
    
    for index, row in df.iloc[:,2:5].iterrows():
        name = row[0]
        lat = row[1]
        lng = row[2]
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
        results = requests.get(url).json()['response']['groups'][0]['items']
        venues = pd.json_normalize(results)
        if not venues.empty:
            venues['venue.categories'] = venues.apply(getCatType,axis=1) #apply function to extract category name from dict
            venues = venues[venues_to_keep]
            venues = venues.rename(rename_dict,axis=1)
            venues['Neighborhood'] = name
            venues['Neighborhood Lat'] = lat
            venues['Neighborhood Long'] = lng
            venue_df = venue_df.append(venues)
    return venue_df.reset_index()

In [40]:
venues_df = buildVenuesDataframe(tor)

In [41]:
venues_df.shape

(3731, 8)

In [42]:
venues_df.head()

,index,Venue Name,Venue Lat,Venue Long,Venue Categories,Neighborhood,Neighborhood Lat,Neighborhood Long
0,0,Wendy's,43.802008,-79.198080,Fast Food Restaurant,"Malvern, Rouge",43.806686,-79.194353
1,1,Wendys,43.807448,-79.199056,Fast Food Restaurant,"Malvern, Rouge",43.806686,-79.194353
2,2,Tim Hortons,43.802000,-79.198169,Coffee Shop,"Malvern, Rouge",43.806686,-79.194353
3,3,Staples Morningside,43.800285,-79.196607,Paper / Office Supplies Store,"Malvern, Rouge",43.806686,-79.194353
4,4,Lee Valley,43.803161,-79.199681,Hobby Shop,"Malvern, Rouge",43.806686,-79.194353

In [44]:
sum(venues_df.duplicated()) #no repeated entries, despite row 0 and 1 looking to be quite similar

0

In [49]:
venues_df.drop('index',axis=1,inplace=True)

In [50]:
venues_df.shape

(3731, 7)

In [57]:
venues_df.head()

,Venue Name,Venue Lat,Venue Long,Venue Categories,Neighborhood,Neighborhood Lat,Neighborhood Long
0,Wendy's,43.802008,-79.198080,Fast Food Restaurant,"Malvern, Rouge",43.806686,-79.194353
1,Wendys,43.807448,-79.199056,Fast Food Restaurant,"Malvern, Rouge",43.806686,-79.194353
2,Tim Hortons,43.802000,-79.198169,Coffee Shop,"Malvern, Rouge",43.806686,-79.194353
3,Staples Morningside,43.800285,-79.196607,Paper / Office Supplies Store,"Malvern, Rouge",43.806686,-79.194353
4,Lee Valley,43.803161,-79.199681,Hobby Shop,"Malvern, Rouge",43.806686,-79.194353

In [52]:
venues_df.to_csv("venues",index=False) #write dataframe to csv for importing later/ease of access

In [55]:
venues_df.groupby('Neighborhood').count()

,Venue Name,Venue Lat,Venue Long,Venue Categories,Neighborhood Lat,Neighborhood Long
Neighborhood,,,,,,
Agincourt,14,14,14,14,14,14
"Alderwood, Long Branch",15,15,15,15,15,15
"Bathurst Manor, Wilson Heights, Downsview North",23,23,23,23,23,23
Bayview Village,9,9,9,9,9,9
"Bedford Park, Lawrence Manor East",36,36,36,36,36,36
...,...,...,...,...,...,...
"Willowdale, Newtonbrook",8,8,8,8,8,8
Woburn,5,5,5,5,5,5
Woodbine Heights,12,12,12,12,12,12
York Mills West,7,7,7,7,7,7
"York Mills, Silver Hills",1,1,1,1,1,1

In [61]:
print(f"There are {len(venues_df['Venue Categories'].unique())} unique venue categories")

There are 326 unique venue categories

After having issues with 1-hot encoding, it was discovered that one of the Venue Categories was 'Neighborhood', which was creating a column called 'Neighborhood' in the encoded matrix. Upon further inspection, as seen in cell below, these 'venues' are just neighborhoods that we have already defined/included in our data. Therefore we will drop those rows from venues_df, then perform the encoding

In [92]:
venues_df = venues_df[venues_df['Venue Categories'] != 'Neighborhood']

Create 1-hot encoding matrix for categorical variable 'Venue Categories'

In [94]:
toronto_onehot = pd.get_dummies(venues_df[['Venue Categories']],prefix="",prefix_sep="")

toronto_onehot['Neighborhood'] = venues_df['Neighborhood'] 

# move neighborhood column to the first column
reorder_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[reorder_columns]

toronto_onehot.head()

,Neighborhood,Accessories Store,Afghan Restaurant,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,...,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,"Malvern, Rouge",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Malvern, Rouge",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Malvern, Rouge",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Malvern, Rouge",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Malvern, Rouge",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
toronto_onehot.shape

(3723, 326)

Now we will group our dataframe by neighborhood, change the variables to be the

In [106]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()

In [150]:
toronto_grouped

,Neighborhood,Accessories Store,Afghan Restaurant,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,...,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,Agincourt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.071429,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,"Alderwood, Long Branch",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,"Bathurst Manor, Wilson Heights, Downsview North",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,Bayview Village,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,"Bedford Park, Lawrence Manor East",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.027778,...,0.0,0.0,0.027778,0.0,0.0,0.0,0.0,0.027778,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,"Willowdale, Newtonbrook",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
93,Woburn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
94,Woodbine Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.083333,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
95,York Mills West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
96,"York Mills, Silver Hills",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

Display top 4 venues by relative frequency for each neighborhood; .07 indicates that about 7% of venues in our neighborhood (based on our defined radius) are of the corresponding type.

In [179]:
from IPython.display import display, HTML

In [184]:
num_top_venues = 4

for place in toronto_grouped['Neighborhood']:
    print("----"+place+"----")
    temp = toronto_grouped[toronto_grouped['Neighborhood'] == place].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    display(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Agincourt----

                       venue  freq
0  Latin American Restaurant  0.07
1             Discount Store  0.07
2                  Pool Hall  0.07
3                Supermarket  0.07

----Alderwood, Long Branch----

               venue  freq
0  Convenience Store  0.13
1        Pizza Place  0.13
2                Gym  0.07
3       Dance Studio  0.07

----Bathurst Manor, Wilson Heights, Downsview North----

          venue  freq
0   Pizza Place  0.09
1   Coffee Shop  0.09
2          Bank  0.09
3  Home Service  0.04

----Bayview Village----

                 venue  freq
0                 Bank  0.22
1  Japanese Restaurant  0.22
2         Skating Rink  0.11
3        Shopping Mall  0.11

----Bedford Park, Lawrence Manor East----

                venue  freq
0  Italian Restaurant  0.08
1         Coffee Shop  0.08
2          Restaurant  0.06
3         Pizza Place  0.06

----Berczy Park----

         venue  freq
0  Coffee Shop  0.10
1   Restaurant  0.06
2        Hotel  0.05
3         Caf  0.05

----Birch Cliff, Cliffside West----

                        venue  freq
0  Construction & Landscaping  0.12
1             Thai Restaurant  0.12
2       General Entertainment  0.12
3                        Caf  0.12

----Brockton, Parkdale Village, Exhibition Place----

         venue  freq
0         Caf  0.06
1  Coffee Shop  0.06
2   Restaurant  0.05
3    Gift Shop  0.04

----Business reply mail Processing CentrE----

                  venue  freq
0  Fast Food Restaurant  0.07
1                   Bar  0.06
2        Clothing Store  0.04
3            Restaurant  0.04

----CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst
 Quay, South Niagara, Island airport----

                 venue  freq
0  Rental Car Location  0.12
1        Boat or Ferry  0.08
2     Sculpture Garden  0.08
3          Coffee Shop  0.08

----Caledonia-Fairbanks----

           venue  freq
0           Park  0.17
1         Bakery  0.08
2            Gym  0.08
3  Women's Store  0.08

----Canada Post Gateway Processing Centre----

                venue  freq
0         Coffee Shop  0.11
1  Chinese Restaurant  0.11
2               Hotel  0.07
3       Burrito Place  0.04

----Cedarbrae----

               venue  freq
0  Indian Restaurant  0.10
1             Bakery  0.10
2        Coffee Shop  0.10
3        Yoga Studio  0.05

----Central Bay Street----

                 venue  freq
0          Coffee Shop  0.10
1  Japanese Restaurant  0.04
2   Italian Restaurant  0.04
3       Clothing Store  0.04

----Christie----

           venue  freq
0  Grocery Store  0.12
1           Park  0.09
2    Coffee Shop  0.09
3           Caf  0.09

----Church and Wellesley----

                 venue  freq
0          Coffee Shop  0.07
1  Japanese Restaurant  0.05
2                 Caf  0.03
3         Burger Joint  0.03

----Clarks Corners, Tam O'Shanter, Sullivan----

               venue  freq
0           Pharmacy  0.14
1  Convenience Store  0.09
2        Pizza Place  0.09
3       Intersection  0.09

----Cliffside, Cliffcrest, Scarborough Village West----

                venue  freq
0      Hardware Store   0.2
1         Wings Joint   0.2
2  Chinese Restaurant   0.2
3         Pizza Place   0.2

----Commerce Court, Victoria Hotel----

                 venue  freq
0          Coffee Shop  0.12
1                 Caf  0.06
2           Restaurant  0.05
3  Japanese Restaurant  0.04

----Davisville----

                venue  freq
0  Italian Restaurant  0.08
1         Coffee Shop  0.08
2         Pizza Place  0.05
3      Sandwich Place  0.04

----Davisville North----

         venue  freq
0  Coffee Shop  0.10
1         Park  0.06
2         Caf  0.06
3          Gym  0.06

----Del Ray, Mount Dennis, Keelsdale and Silverthorn----

               venue  freq
0  Convenience Store  0.14
1          Wine Shop  0.14
2     Sandwich Place  0.14
3        Gas Station  0.14

----Don Mills----

                 venue  freq
0  Japanese Restaurant  0.13
1           Beer Store  0.07
2          Coffee Shop  0.07
3           Restaurant  0.07

----Dorset Park, Wexford Heights, Scarborough Town Centre----

                    venue  freq
0  Furniture / Home Store  0.17
1       Electronics Store  0.11
2       Indian Restaurant  0.11
3      Chinese Restaurant  0.06

----Downsview----

                   venue  freq
0          Grocery Store  0.07
1  Vietnamese Restaurant  0.07
2            Coffee Shop  0.07
3         Sandwich Place  0.05

----Dufferin, Dovercourt Village----

                   venue  freq
0            Coffee Shop  0.09
1  Portuguese Restaurant  0.06
2                   Park  0.06
3                    Bar  0.06

----East Toronto----

         venue  freq
0  Pizza Place  0.09
1         Caf  0.09
2  Coffee Shop  0.09
3     Beer Bar  0.04

----Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood----

               venue  freq
0               Park  0.15
1  Convenience Store  0.08
2        Coffee Shop  0.08
3       Liquor Store  0.08

----Fairview, Henry Farm, Oriole----

                  venue  freq
0        Clothing Store  0.13
1           Coffee Shop  0.13
2            Restaurant  0.05
3  Fast Food Restaurant  0.05

----First Canadian Place, Underground city----

         venue  freq
0  Coffee Shop  0.08
1        Hotel  0.08
2         Caf  0.07
3   Restaurant  0.07

----Forest Hill North & West----

              venue  freq
0     Jewelry Store   0.2
1  Asian Restaurant   0.2
2             Trail   0.2
3  Sushi Restaurant   0.2

----Garden District, Ryerson----

                 venue  freq
0          Coffee Shop  0.10
1       Clothing Store  0.06
2           Restaurant  0.04
3  Japanese Restaurant  0.03

----Glencairn----

           venue  freq
0  Grocery Store  0.12
1    Gas Station  0.12
2    Pizza Place  0.12
3            Pub  0.06

----Golden Mile, Clairlea, Oakridge----

          venue  freq
0  Intersection  0.20
1      Bus Line  0.13
2        Bakery  0.13
3         Diner  0.13

----Guildwood, Morningside, West Hill----

                  venue  freq
0  Fast Food Restaurant  0.14
1           Pizza Place  0.14
2            Sports Bar  0.07
3          Intersection  0.07

----Harbourfront East, Union Station, Toronto Islands----

         venue  freq
0  Coffee Shop  0.13
1        Hotel  0.07
2   Restaurant  0.05
3      Brewery  0.03

----High Park, The Junction South----

                venue  freq
0                 Bar  0.08
1  Italian Restaurant  0.06
2                Caf  0.06
3     Thai Restaurant  0.05

----Hillcrest Village----

                venue  freq
0   Recreation Center  0.08
1         Pizza Place  0.08
2       Shopping Mall  0.08
3  Chinese Restaurant  0.08

----Humber Summit----

                 venue  freq
0               Bakery  0.50
1  Arts & Crafts Store  0.25
2  Empanada Restaurant  0.25
3    Accessories Store  0.00

----Humberlea, Emery----

                    venue  freq
0  Furniture / Home Store  0.17
1      Italian Restaurant  0.17
2       Convenience Store  0.17
3          Discount Store  0.17

----Humewood-Cedarvale----

               venue  freq
0           Pharmacy  0.06
1      Grocery Store  0.06
2              Trail  0.06
3  Korean Restaurant  0.06

----India Bazaar, The Beaches West----

               venue  freq
0  Indian Restaurant  0.11
1        Coffee Shop  0.06
2     Sandwich Place  0.06
3                Gym  0.04

----Islington Avenue----

           venue  freq
0       Pharmacy  0.22
1  Shopping Mall  0.11
2           Caf  0.11
3           Bank  0.11

----Kennedy Park, Ionview, East Birchmount Park----

               venue  freq
0        Coffee Shop  0.17
1  Convenience Store  0.11
2     Discount Store  0.11
3   Department Store  0.06

----Kensington Market, Chinatown, Grange Park----

                           venue  freq
0                           Caf  0.10
1                            Bar  0.07
2  Vegetarian / Vegan Restaurant  0.05
3          Vietnamese Restaurant  0.03

----Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens----

                venue  freq
0         Coffee Shop  0.08
1         Pizza Place  0.08
2         Gas Station  0.08
3  Chinese Restaurant  0.08

----Lawrence Manor, Lawrence Heights----

                    venue  freq
0  Furniture / Home Store  0.13
1       Accessories Store  0.05
2   Vietnamese Restaurant  0.05
3             Coffee Shop  0.05

----Lawrence Park----

         venue  freq
0       Lawyer  0.25
1         Park  0.25
2  Coffee Shop  0.25
3     Bus Line  0.25

----Leaside----

                    venue  freq
0             Coffee Shop  0.07
1     Sporting Goods Shop  0.05
2       Electronics Store  0.05
3  Furniture / Home Store  0.05

----Little Portugal, Trinity----

         venue  freq
0          Bar  0.08
1   Restaurant  0.07
2         Caf  0.05
3  Coffee Shop  0.05

----Malvern, Rouge----

                           venue  freq
0           Fast Food Restaurant   0.2
1            Filipino Restaurant   0.1
2  Paper / Office Supplies Store   0.1
3                          Trail   0.1

----Milliken, Agincourt North, Steeles East, L'Amoreaux East----

                venue  freq
0  Chinese Restaurant  0.11
1         Pizza Place  0.11
2        Noodle House  0.11
3      Shop & Service  0.06

----Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West----

                  venue  freq
0  Gym / Fitness Center  0.12
1           Yoga Studio  0.04
2        Sandwich Place  0.04
3       Automotive Shop  0.04

----Moore Park, Summerhill East----

                  venue  freq
0                  Park  0.17
1         Grocery Store  0.17
2   Japanese Restaurant  0.08
3  Gym / Fitness Center  0.08

----New Toronto, Mimico South, Humber Bay Shores----

                venue  freq
0                Caf  0.14
1            Pharmacy  0.10
2  Mexican Restaurant  0.10
3              Bakery  0.05

----North Park, Maple Leaf Park, Upwood Park----

                        venue  freq
0                Home Service  0.50
1  Construction & Landscaping  0.25
2                      Bakery  0.25
3                 Music Venue  0.00

----North Toronto West----

                 venue  freq
0          Coffee Shop  0.10
1  Sporting Goods Shop  0.07
2                 Caf  0.07
3           Restaurant  0.05

----Northwest----

                  venue  freq
0                Lounge   1.0
1     Accessories Store   0.0
2  Other Great Outdoors   0.0
3          Optical Shop   0.0

----Northwood Park, York University----

                  venue  freq
0    Miscellaneous Shop  0.09
1           Coffee Shop  0.09
2           Frame Store  0.09
3  Fast Food Restaurant  0.09

----Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East----

                        venue  freq
0  Construction & Landscaping  0.25
1                        Park  0.25
2              Baseball Field  0.25
3        Gym / Fitness Center  0.25

----Parkdale, Roncesvalles----

             venue  freq
0              Bar  0.06
1  Thai Restaurant  0.05
2             Caf  0.05
3       Restaurant  0.05

----Parkview Hill, Woodbine Gardens----

                  venue  freq
0  Fast Food Restaurant  0.12
1           Pizza Place  0.12
2          Home Service  0.06
3    Rock Climbing Spot  0.06

----Parkwoods----

               venue  freq
0  Food & Drink Shop  0.25
1               Park  0.25
2           Bus Stop  0.25
3               Road  0.25

----Queen's Park, Ontario Provincial Government----

                venue  freq
0         Coffee Shop  0.15
1                Caf  0.07
2  Italian Restaurant  0.05
3      Sandwich Place  0.04

----Regent Park, Harbourfront----

                venue  freq
0         Coffee Shop  0.12
1                Park  0.05
2                 Pub  0.05
3  Italian Restaurant  0.05

----Richmond, Adelaide, King----

         venue  freq
0  Coffee Shop  0.07
1   Restaurant  0.06
2         Caf  0.06
3        Hotel  0.05

----Rosedale----

         venue  freq
0         Park  0.43
1        Trail  0.29
2  Candy Store  0.14
3   Playground  0.14

----Roselawn----

          venue  freq
0           Spa  0.29
1    Playground  0.29
2  Home Service  0.14
3        Garden  0.14

----Rouge Hill, Port Union, Highland Creek----

                venue  freq
0      Breakfast Spot   0.4
1                 Bar   0.2
2        Burger Joint   0.2
3  Italian Restaurant   0.2

----Runnymede, Swansea----

         venue  freq
0         Caf  0.07
1  Coffee Shop  0.07
2  Pizza Place  0.06
3       Bakery  0.04

----Runnymede, The Junction North----

                    venue  freq
0                 Brewery  0.12
1  Furniture / Home Store  0.08
2             Coffee Shop  0.08
3                    Park  0.08

----Scarborough Village----

                  venue  freq
0        Ice Cream Shop  0.25
1  Fast Food Restaurant  0.12
2     Convenience Store  0.12
3        Sandwich Place  0.12

----South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens----

            venue  freq
0   Grocery Store  0.23
1     Pizza Place  0.15
2  Hardware Store  0.08
3        Gym Pool  0.08

----St. James Town----

         venue  freq
0  Coffee Shop  0.09
1         Caf  0.06
2       Bakery  0.05
3   Restaurant  0.05

----St. James Town, Cabbagetown----

           venue  freq
0    Coffee Shop  0.10
1  Grocery Store  0.04
2           Caf  0.04
3           Park  0.04

----Steeles West, L'Amoreaux West----

                  venue  freq
0  Fast Food Restaurant  0.19
1    Chinese Restaurant  0.12
2           Pizza Place  0.12
3           Coffee Shop  0.12

----Stn A PO Boxes----

                 venue  freq
0          Coffee Shop  0.14
1           Restaurant  0.06
2                 Caf  0.06
3  Japanese Restaurant  0.05

----Studio District----

         venue  freq
0         Caf  0.08
1          Bar  0.05
2  Coffee Shop  0.05
3        Diner  0.04

----Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park----

                venue  freq
0         Coffee Shop  0.10
1    Sushi Restaurant  0.08
2  Italian Restaurant  0.07
3                 Pub  0.05

----The Annex, North Midtown, Yorkville----

                           venue  freq
0                    Coffee Shop  0.07
1                    Pizza Place  0.06
2                           Caf  0.05
3  Vegetarian / Vegan Restaurant  0.04

----The Beaches----

            venue  freq
0             Pub  0.11
1     Coffee Shop  0.07
2       Gastropub  0.04
3  Breakfast Spot  0.04

----The Danforth West, Riverdale----

              venue  freq
0  Greek Restaurant  0.12
1       Coffee Shop  0.08
2               Pub  0.06
3              Caf  0.04

----The Kingsway, Montgomery Road , Old Mill North----

              venue  freq
0    Breakfast Spot  0.08
1  Sushi Restaurant  0.08
2              Bank  0.08
3            Bakery  0.08

----Thorncliffe Park----

               venue  freq
0  Indian Restaurant  0.09
1               Bank  0.06
2        Coffee Shop  0.06
3               Park  0.06

----Toronto Dominion Centre, Design Exchange----

         venue  freq
0  Coffee Shop  0.10
1         Caf  0.08
2        Hotel  0.07
3   Restaurant  0.06

----University of Toronto, Harbord----

         venue  freq
0         Caf  0.08
1  Coffee Shop  0.05
2   Restaurant  0.05
3  Pizza Place  0.04

----Victoria Village----

                   venue  freq
0  Portuguese Restaurant  0.12
1           Hockey Arena  0.12
2    Sporting Goods Shop  0.12
3                   Park  0.12

----West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale----

         venue  freq
0  Pizza Place   0.2
1        Hotel   0.1
2   Restaurant   0.1
3         Bank   0.1

----Westmount----

                venue  freq
0         Pizza Place  0.14
1         Golf Course  0.07
2  Chinese Restaurant  0.07
3         Supermarket  0.07

----Weston----

               venue  freq
0              Diner  0.12
1  Convenience Store  0.12
2     Breakfast Spot  0.12
3               Park  0.12

----Wexford, Maryvale----

                       venue  freq
0               Burger Joint  0.09
1                Pizza Place  0.09
2  Middle Eastern Restaurant  0.09
3        Rental Car Location  0.05

----Willowdale----

              venue  freq
0       Coffee Shop  0.07
1       Pizza Place  0.07
2  Sushi Restaurant  0.05
3  Ramen Restaurant  0.05

----Willowdale, Newtonbrook----

               venue  freq
0               Bank  0.12
1     Sandwich Place  0.12
2               Park  0.12
3  Indian Restaurant  0.12

----Woburn----

               venue  freq
0               Park   0.4
1        Coffee Shop   0.4
2   Business Service   0.2
3  Accessories Store   0.0

----Woodbine Heights----

            venue  freq
0    Skating Rink  0.17
1  Cosmetics Shop  0.08
2     Video Store  0.08
3      Beer Store  0.08

----York Mills West----

               venue  freq
0               Park  0.43
1      Bowling Alley  0.14
2  Convenience Store  0.14
3               Bank  0.14

----York Mills, Silver Hills----

               venue  freq
0               Pool   1.0
1  Accessories Store   0.0
2        Music Store   0.0
3       Optical Shop   0.0

In [200]:
for neighborhood in venues_df['Neighborhood'].unique():
    display("===="+neighborhood+"====",venues_df[venues_df['Neighborhood']==neighborhood]['Venue Categories'].value_counts())

'====Malvern, Rouge===='

Fast Food Restaurant             2
Spa                              1
Business Service                 1
Coffee Shop                      1
Hobby Shop                       1
Paper / Office Supplies Store    1
Construction & Landscaping       1
Trail                            1
Filipino Restaurant              1
Name: Venue Categories, dtype: int64

'====Rouge Hill, Port Union, Highland Creek===='

Breakfast Spot        2
Burger Joint          1
Bar                   1
Italian Restaurant    1
Name: Venue Categories, dtype: int64

'====Guildwood, Morningside, West Hill===='

Fast Food Restaurant    2
Pizza Place             2
Sports Bar              1
Intersection            1
Fried Chicken Joint     1
Coffee Shop             1
Restaurant              1
Beer Store              1
Grocery Store           1
Rental Car Location     1
Greek Restaurant        1
Bank                    1
Name: Venue Categories, dtype: int64

'====Woburn===='

Park                2
Coffee Shop         2
Business Service    1
Name: Venue Categories, dtype: int64

'====Cedarbrae===='

Indian Restaurant       2
Coffee Shop             2
Bakery                  2
Caribbean Restaurant    1
Bank                    1
Hakka Restaurant        1
Thai Restaurant         1
Athletics & Sports      1
Convenience Store       1
Burger Joint            1
Gym / Fitness Center    1
Bus Line                1
Chinese Restaurant      1
Yoga Studio             1
Gas Station             1
Fried Chicken Joint     1
Lounge                  1
Name: Venue Categories, dtype: int64

'====Scarborough Village===='

Ice Cream Shop          2
Fast Food Restaurant    1
Sandwich Place          1
Restaurant              1
Pizza Place             1
Coffee Shop             1
Convenience Store       1
Name: Venue Categories, dtype: int64

'====Kennedy Park, Ionview, East Birchmount Park===='

Coffee Shop            3
Discount Store         2
Convenience Store      2
Chinese Restaurant     1
Hobby Shop             1
Pharmacy               1
Grocery Store          1
Rental Car Location    1
Bus Line               1
Light Rail Station     1
Intersection           1
Sandwich Place         1
Bank                   1
Department Store       1
Name: Venue Categories, dtype: int64

'====Golden Mile, Clairlea, Oakridge===='

Intersection         3
Bus Line             2
Bakery               2
Diner                2
Soccer Field         1
Ice Cream Shop       1
Park                 1
Bus Station          1
Coffee Shop          1
Convenience Store    1
Name: Venue Categories, dtype: int64

'====Cliffside, Cliffcrest, Scarborough Village West===='

Wings Joint           1
Pizza Place           1
Hardware Store        1
Burger Joint          1
Chinese Restaurant    1
Name: Venue Categories, dtype: int64

'====Birch Cliff, Cliffside West===='

General Entertainment         1
Skating Rink                  1
College Stadium               1
Caf                          1
Park                          1
Thai Restaurant               1
Construction & Landscaping    1
Diner                         1
Name: Venue Categories, dtype: int64

'====Dorset Park, Wexford Heights, Scarborough Town Centre===='

Furniture / Home Store    3
Electronics Store         2
Indian Restaurant         2
Rental Service            1
Fast Food Restaurant      1
Gaming Cafe               1
Vietnamese Restaurant     1
Pet Store                 1
Bakery                    1
Wine Shop                 1
Chinese Restaurant        1
Gym                       1
Coffee Shop               1
Restaurant                1
Name: Venue Categories, dtype: int64

'====Wexford, Maryvale===='

Burger Joint                 2
Pizza Place                  2
Middle Eastern Restaurant    2
Breakfast Spot               1
Bar                          1
Pharmacy                     1
Bakery                       1
Grocery Store                1
Rental Car Location          1
Fish Market                  1
Gas Station                  1
Seafood Restaurant           1
Coffee Shop                  1
Restaurant                   1
Hookah Bar                   1
Caf                         1
Vietnamese Restaurant        1
Korean Restaurant            1
Smoke Shop                   1
Name: Venue Categories, dtype: int64

'====Agincourt===='

Seafood Restaurant           1
Pool Hall                    1
Skating Rink                 1
Lounge                       1
Shanghai Restaurant          1
Latin American Restaurant    1
Discount Store               1
Mediterranean Restaurant     1
Shopping Mall                1
Breakfast Spot               1
Sushi Restaurant             1
Badminton Court              1
American Restaurant          1
Supermarket                  1
Name: Venue Categories, dtype: int64

"====Clarks Corners, Tam O'Shanter, Sullivan===="

Pharmacy                3
Intersection            2
Convenience Store       2
Pizza Place             2
Golf Course             1
Italian Restaurant      1
Noodle House            1
Sandwich Place          1
Thai Restaurant         1
Fast Food Restaurant    1
Coffee Shop             1
Seafood Restaurant      1
Shopping Mall           1
Chinese Restaurant      1
Gas Station             1
Fried Chicken Joint     1
Bank                    1
Name: Venue Categories, dtype: int64

"====Milliken, Agincourt North, Steeles East, L'Amoreaux East===="

Chinese Restaurant      2
Pizza Place             2
Noodle House            2
Shop & Service          1
Fast Food Restaurant    1
BBQ Joint               1
Hobby Shop              1
Pharmacy                1
Fried Chicken Joint     1
Malay Restaurant        1
Gym                     1
Korean Restaurant       1
Caribbean Restaurant    1
Coffee Shop             1
Park                    1
Name: Venue Categories, dtype: int64

"====Steeles West, L'Amoreaux West===="

Fast Food Restaurant    3
Coffee Shop             2
Pizza Place             2
Chinese Restaurant      2
Discount Store          1
Other Great Outdoors    1
Breakfast Spot          1
Pharmacy                1
Bank                    1
Grocery Store           1
Bubble Tea Shop         1
Name: Venue Categories, dtype: int64

'====Hillcrest Village===='

Shopping Mall           1
Chinese Restaurant      1
Bakery                  1
Recreation Center       1
Pool                    1
Coffee Shop             1
Pharmacy                1
Pizza Place             1
Ice Cream Shop          1
Restaurant              1
Fast Food Restaurant    1
Bank                    1
Name: Venue Categories, dtype: int64

'====Fairview, Henry Farm, Oriole===='

Clothing Store          5
Coffee Shop             5
Japanese Restaurant     2
Restaurant              2
Bank                    2
Fast Food Restaurant    2
Tea Room                1
Juice Bar               1
Salon / Barbershop      1
Cosmetics Shop          1
Video Game Store        1
American Restaurant     1
Electronics Store       1
Sporting Goods Shop     1
Movie Theater           1
Pharmacy                1
Department Store        1
Food Court              1
Toy / Game Store        1
Burger Joint            1
Chocolate Shop          1
Sandwich Place          1
Shopping Mall           1
Grocery Store           1
Bakery                  1
Theater                 1
Name: Venue Categories, dtype: int64

'====Bayview Village===='

Bank                   2
Japanese Restaurant    2
Shopping Mall          1
Skating Rink           1
Caf                   1
Grocery Store          1
Chinese Restaurant     1
Name: Venue Categories, dtype: int64

'====York Mills, Silver Hills===='

Pool    1
Name: Venue Categories, dtype: int64

'====Willowdale, Newtonbrook===='

Sushi Restaurant     1
Park                 1
Coffee Shop          1
Sandwich Place       1
Pizza Place          1
Bank                 1
Trail                1
Indian Restaurant    1
Name: Venue Categories, dtype: int64

'====Willowdale===='

Pizza Place                  6
Coffee Shop                  6
Ramen Restaurant             4
Sushi Restaurant             4
Korean Restaurant            4
Restaurant                   3
Japanese Restaurant          3
Middle Eastern Restaurant    3
Sandwich Place               3
Fast Food Restaurant         3
Bank                         3
Park                         2
Caf                         2
Pharmacy                     2
Hotel                        2
Discount Store               2
Bubble Tea Shop              2
Karaoke Bar                  1
Indonesian Restaurant        1
Asian Restaurant             1
Greek Restaurant             1
Shopping Mall                1
Grocery Store                1
Supermarket                  1
Burrito Place                1
Sports Bar                   1
Community Center             1
Gym                          1
Chinese Restaurant           1
Fried Chicken Joint          1
Electronics Store            1
Movie Theater                1
Bakery                       1
Dessert Shop                 1
Italian Restaurant           1
Butcher                      1
Arts & Crafts Store          1
Ice Cream Shop               1
Mexican Restaurant           1
Plaza                        1
Home Service                 1
Pet Store                    1
Lounge                       1
Juice Bar                    1
Pool                         1
Seafood Restaurant           1
American Restaurant          1
Vietnamese Restaurant        1
Theater                      1
Steakhouse                   1
Name: Venue Categories, dtype: int64

'====York Mills West===='

Park                 3
Bowling Alley        1
Convenience Store    1
Pet Store            1
Bank                 1
Name: Venue Categories, dtype: int64

'====Parkwoods===='

Food & Drink Shop    1
Bus Stop             1
Road                 1
Park                 1
Name: Venue Categories, dtype: int64

'====Don Mills===='

Japanese Restaurant          4
Gym                          2
Beer Store                   2
Coffee Shop                  2
Restaurant                   2
Caribbean Restaurant         1
Dim Sum Restaurant           1
Supermarket                  1
Asian Restaurant             1
Intersection                 1
Italian Restaurant           1
Bike Shop                    1
Gym / Fitness Center         1
Sandwich Place               1
Middle Eastern Restaurant    1
History Museum               1
Discount Store               1
Dance Studio                 1
Clothing Store               1
Chinese Restaurant           1
Caf                         1
Sporting Goods Shop          1
Concert Hall                 1
Name: Venue Categories, dtype: int64

'====Bathurst Manor, Wilson Heights, Downsview North===='

Bank                         2
Pizza Place                  2
Coffee Shop                  2
Shopping Mall                1
Deli / Bodega                1
Diner                        1
Ice Cream Shop               1
Gas Station                  1
Restaurant                   1
Sushi Restaurant             1
Sandwich Place               1
Bridal Shop                  1
Home Service                 1
Supermarket                  1
Community Center             1
Pharmacy                     1
Park                         1
Fried Chicken Joint          1
Frozen Yogurt Shop           1
Middle Eastern Restaurant    1
Name: Venue Categories, dtype: int64

'====Northwood Park, York University===='

Fast Food Restaurant      1
Miscellaneous Shop        1
Caribbean Restaurant      1
Sandwich Place            1
Frame Store               1
Coffee Shop               1
Furniture / Home Store    1
Bar                       1
Massage Studio            1
Japanese Restaurant       1
Bank                      1
Name: Venue Categories, dtype: int64

'====Downsview===='

Vietnamese Restaurant        3
Coffee Shop                  3
Grocery Store                3
Pizza Place                  2
Park                         2
Discount Store               2
Pharmacy                     2
Sandwich Place               2
Gas Station                  2
Fast Food Restaurant         2
Chinese Restaurant           1
Photography Lab              1
Falafel Restaurant           1
Gym                          1
Shopping Mall                1
Beer Store                   1
Bank                         1
Food Court                   1
Middle Eastern Restaurant    1
Business Service             1
Athletics & Sports           1
Baseball Field               1
Liquor Store                 1
Moving Target                1
Airport                      1
Caribbean Restaurant         1
Fried Chicken Joint          1
Outdoor Supply Store         1
Gym / Fitness Center         1
Name: Venue Categories, dtype: int64

'====Victoria Village===='

Playground               1
Portuguese Restaurant    1
Intersection             1
Coffee Shop              1
Park                     1
Pizza Place              1
Hockey Arena             1
Sporting Goods Shop      1
Name: Venue Categories, dtype: int64

'====Parkview Hill, Woodbine Gardens===='

Fast Food Restaurant    2
Pizza Place             2
Soccer Stadium          1
Pet Store               1
Pharmacy                1
Rock Climbing Spot      1
Home Service            1
Bus Line                1
Intersection            1
Brewery                 1
Athletics & Sports      1
Gastropub               1
Restaurant              1
Gym / Fitness Center    1
Bank                    1
Name: Venue Categories, dtype: int64

'====Woodbine Heights===='

Skating Rink          2
Bus Line              1
Video Store           1
Pharmacy              1
Athletics & Sports    1
Park                  1
Beer Store            1
Asian Restaurant      1
Cosmetics Shop        1
Dance Studio          1
Curling Ice           1
Name: Venue Categories, dtype: int64

'====The Beaches===='

Pub                              5
Coffee Shop                      3
Bar                              2
Japanese Restaurant              2
Breakfast Spot                   2
Gastropub                        2
Ramen Restaurant                 1
Mexican Restaurant               1
Caf                             1
Greek Restaurant                 1
Thai Restaurant                  1
Vegetarian / Vegan Restaurant    1
Indian Restaurant                1
Juice Bar                        1
Shoe Store                       1
Health Food Store                1
Bagel Shop                       1
Grocery Store                    1
Pharmacy                         1
Electronics Store                1
Bakery                           1
French Restaurant                1
Women's Store                    1
Bank                             1
Ice Cream Shop                   1
Tea Room                         1
Asian Restaurant                 1
Pizza Place                      1
Church                           1
Sandwich Place                   1
Toy / Game Store                 1
Flower Shop                      1
Chocolate Shop                   1
Indie Movie Theater              1
Trail                            1
Name: Venue Categories, dtype: int64

'====Leaside===='

Coffee Shop                      4
Furniture / Home Store           3
Electronics Store                3
Sporting Goods Shop              3
Sushi Restaurant                 2
Burger Joint                     2
Brewery                          2
Restaurant                       2
Sports Bar                       2
Bank                             2
Sandwich Place                   2
Department Store                 2
Gym                              1
Bike Shop                        1
Juice Bar                        1
Beer Store                       1
Bagel Shop                       1
Breakfast Spot                   1
Paper / Office Supplies Store    1
Pet Store                        1
Portuguese Restaurant            1
Shopping Mall                    1
Arcade                           1
Mobile Phone Shop                1
Auto Dealership                  1
Supermarket                      1
Convenience Store                1
Mexican Restaurant               1
Liquor Store                     1
Fish & Chips Shop                1
Performing Arts Venue            1
Japanese Restaurant              1
Motorcycle Shop                  1
Rental Car Location              1
Grocery Store                    1
Bakery                           1
Dessert Shop                     1
Italian Restaurant               1
Indian Restaurant                1
Name: Venue Categories, dtype: int64

'====Thorncliffe Park===='

Indian Restaurant       3
Park                    2
Afghan Restaurant       2
Bank                    2
Turkish Restaurant      2
Coffee Shop             2
Brewery                 1
Warehouse Store         1
Supermarket             1
Asian Restaurant        1
Pizza Place             1
Restaurant              1
Gym / Fitness Center    1
Burger Joint            1
Intersection            1
Bus Line                1
Bridge                  1
Yoga Studio             1
Housing Development     1
Grocery Store           1
Pharmacy                1
Gas Station             1
Fried Chicken Joint     1
Fast Food Restaurant    1
Gym                     1
Name: Venue Categories, dtype: int64

'====East Toronto===='

Pizza Place              4
Coffee Shop              4
Caf                     4
Beer Bar                 2
Gastropub                2
Thai Restaurant          2
Fast Food Restaurant     2
Bookstore                1
Dim Sum Restaurant       1
Pet Store                1
Park                     1
Hostel                   1
Turkish Restaurant       1
Beer Store               1
Greek Restaurant         1
Pharmacy                 1
Burger Joint             1
Vietnamese Restaurant    1
Convenience Store        1
Burrito Place            1
Asian Restaurant         1
Mexican Restaurant       1
Restaurant               1
Nail Salon               1
Liquor Store             1
Ethiopian Restaurant     1
Chinese Restaurant       1
Rental Car Location      1
Bakery                   1
Ramen Restaurant         1
Karaoke Bar              1
Diner                    1
Name: Venue Categories, dtype: int64

'====The Danforth West, Riverdale===='

Greek Restaurant            12
Coffee Shop                  8
Pub                          6
Caf                         4
Italian Restaurant           3
Bakery                       3
Spa                          3
Fast Food Restaurant         3
Bookstore                    2
Pizza Place                  2
Breakfast Spot               2
Grocery Store                2
Ice Cream Shop               2
Yoga Studio                  2
Dessert Shop                 2
Furniture / Home Store       2
Bank                         2
Liquor Store                 1
Bubble Tea Shop              1
Tapas Restaurant             1
Portuguese Restaurant        1
Mediterranean Restaurant     1
Ramen Restaurant             1
Business Service             1
Restaurant                   1
Flower Shop                  1
Concert Hall                 1
Cocktail Bar                 1
Gym                          1
Brewery                      1
Falafel Restaurant           1
Sporting Goods Shop          1
Burger Joint                 1
Diner                        1
Caribbean Restaurant         1
BBQ Joint                    1
Frozen Yogurt Shop           1
Rental Car Location          1
Discount Store               1
Fish & Chips Shop            1
Arts & Crafts Store          1
Supplement Shop              1
Cuban Restaurant             1
Donut Shop                   1
New American Restaurant      1
Pet Store                    1
Churrascaria                 1
Chinese Restaurant           1
Lounge                       1
Dance Studio                 1
Juice Bar                    1
Park                         1
Cosmetics Shop               1
Beer Bar                     1
Indian Restaurant            1
Fruit & Vegetable Store      1
Trail                        1
Name: Venue Categories, dtype: int64

'====India Bazaar, The Beaches West===='

Indian Restaurant            6
Sandwich Place               3
Coffee Shop                  3
Fast Food Restaurant         2
Pet Store                    2
Caf                         2
Gym                          2
Italian Restaurant           2
Grocery Store                2
Brewery                      2
Pizza Place                  1
Park                         1
Sushi Restaurant             1
Farmers Market               1
Pub                          1
Indian Chinese Restaurant    1
Restaurant                   1
Bus Stop                     1
Intersection                 1
Diner                        1
Movie Theater                1
French Restaurant            1
Steakhouse                   1
Shopping Plaza               1
Butcher                      1
Asian Restaurant             1
Ice Cream Shop               1
Burrito Place                1
Baseball Field               1
Liquor Store                 1
Fish & Chips Shop            1
Skate Park                   1
Bakery                       1
Furniture / Home Store       1
Bar                          1
Food & Drink Shop            1
Snack Place                  1
Name: Venue Categories, dtype: int64

'====Studio District===='

Caf                         7
Coffee Shop                  5
Bar                          5
American Restaurant          4
Bakery                       4
Sandwich Place               4
Diner                        4
Sushi Restaurant             3
Latin American Restaurant    2
Vietnamese Restaurant        2
Italian Restaurant           2
Gastropub                    2
Restaurant                   2
Park                         2
Brewery                      2
Arts & Crafts Store          2
Climbing Gym                 1
Cheese Shop                  1
Thrift / Vintage Store       1
Seafood Restaurant           1
Wine Bar                     1
Falafel Restaurant           1
Antique Shop                 1
Yoga Studio                  1
Bank                         1
Chinese Restaurant           1
Gym                          1
Dive Bar                     1
Ice Cream Shop               1
Theater                      1
Curling Ice                  1
Pizza Place                  1
Fish Market                  1
Performing Arts Venue        1
Middle Eastern Restaurant    1
Rock Club                    1
Discount Store               1
Hotel Bar                    1
Hotel                        1
Fish & Chips Shop            1
Thai Restaurant              1
Gay Bar                      1
Convenience Store            1
Coworking Space              1
French Restaurant            1
Electronics Store            1
Gym / Fitness Center         1
Pet Store                    1
Boutique                     1
Lounge                       1
Market                       1
Clothing Store               1
Taco Place                   1
Bookstore                    1
Stationery Store             1
Comfort Food Restaurant      1
Name: Venue Categories, dtype: int64

'====Lawrence Park===='

Park           1
Lawyer         1
Bus Line       1
Coffee Shop    1
Name: Venue Categories, dtype: int64

'====Davisville North===='

Coffee Shop                      3
Caf                             2
Pizza Place                      2
Park                             2
Gym                              2
Pharmacy                         1
Greek Restaurant                 1
Italian Restaurant               1
Diner                            1
Supermarket                      1
Ice Cream Shop                   1
Sushi Restaurant                 1
Brewery                          1
Convenience Store                1
Food & Drink Shop                1
Jazz Club                        1
Sandwich Place                   1
Taco Place                       1
Vegetarian / Vegan Restaurant    1
Hotel                            1
Bar                              1
Dessert Shop                     1
Dog Run                          1
Breakfast Spot                   1
Indian Restaurant                1
Name: Venue Categories, dtype: int64

'====North Toronto West===='

Coffee Shop             4
Sporting Goods Shop     3
Caf                    3
Diner                   2
Italian Restaurant      2
Bakery                  2
Clothing Store          2
Skating Rink            2
Restaurant              2
Dessert Shop            2
Salon / Barbershop      1
Pizza Place             1
Ramen Restaurant        1
Spa                     1
Track                   1
Fast Food Restaurant    1
Wings Joint             1
Flower Shop             1
Thai Restaurant         1
Athletics & Sports      1
Hotel                   1
Gym Pool                1
Chinese Restaurant      1
Yoga Studio             1
Rental Car Location     1
Grocery Store           1
Park                    1
Mexican Restaurant      1
Name: Venue Categories, dtype: int64

'====Davisville===='

Coffee Shop                      6
Italian Restaurant               6
Pizza Place                      4
Restaurant                       3
Dessert Shop                     3
Caf                             3
Gym                              3
Sandwich Place                   3
American Restaurant              2
Sushi Restaurant                 2
Indian Restaurant                2
Gastropub                        2
Ice Cream Shop                   2
Taco Place                       1
Greek Restaurant                 1
Syrian Restaurant                1
Vegetarian / Vegan Restaurant    1
Seafood Restaurant               1
Yoga Studio                      1
Brewery                          1
Park                             1
Farmers Market                   1
Bagel Shop                       1
Gas Station                      1
Diner                            1
Pharmacy                         1
Toy / Game Store                 1
Gaming Cafe                      1
Hotel                            1
Japanese Restaurant              1
Bar                              1
Salad Place                      1
Bubble Tea Shop                  1
Gourmet Shop                     1
Optical Shop                     1
Tennis Court                     1
Pub                              1
Fast Food Restaurant             1
Thai Restaurant                  1
Mexican Restaurant               1
Indonesian Restaurant            1
Supermarket                      1
Ramen Restaurant                 1
Middle Eastern Restaurant        1
Indoor Play Area                 1
French Restaurant                1
Name: Venue Categories, dtype: int64

'====Moore Park, Summerhill East===='

Park                    2
Grocery Store           2
Playground              1
Gym                     1
Sandwich Place          1
Caf                    1
Thai Restaurant         1
Candy Store             1
Japanese Restaurant     1
Gym / Fitness Center    1
Name: Venue Categories, dtype: int64

'====Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park===='

Coffee Shop                   6
Sushi Restaurant              5
Italian Restaurant            4
Pub                           3
Gym                           2
Skating Rink                  2
Restaurant                    2
Caf                          2
Sandwich Place                2
Thai Restaurant               2
Grocery Store                 2
Pizza Place                   2
Bank                          2
French Restaurant             1
Tennis Court                  1
Pharmacy                      1
German Restaurant             1
Breakfast Spot                1
American Restaurant           1
Bakery                        1
Tea Room                      1
Sports Bar                    1
Gastropub                     1
Supermarket                   1
Fried Chicken Joint           1
Gift Shop                     1
Liquor Store                  1
Japanese Restaurant           1
Tapas Restaurant              1
Yoga Studio                   1
Chiropractor                  1
Cantonese Restaurant          1
Modern European Restaurant    1
Burger Joint                  1
Vietnamese Restaurant         1
Bagel Shop                    1
Name: Venue Categories, dtype: int64

'====Rosedale===='

Park           3
Trail          2
Playground     1
Candy Store    1
Name: Venue Categories, dtype: int64

'====St. James Town, Cabbagetown===='

Coffee Shop                 7
Grocery Store               3
Restaurant                  3
Park                        3
Caf                        3
Pizza Place                 3
Convenience Store           2
Gastropub                   2
Japanese Restaurant         2
Italian Restaurant          2
Bakery                      2
Pharmacy                    2
Diner                       2
Pub                         2
Breakfast Spot              1
Hotel                       1
Market                      1
Beer Store                  1
Building                    1
Snack Place                 1
Sushi Restaurant            1
BBQ Joint                   1
Jewelry Store               1
Farmers Market              1
Playground                  1
Farm                        1
Library                     1
Pet Store                   1
Filipino Restaurant         1
Rock Club                   1
Liquor Store                1
Food & Drink Shop           1
Vietnamese Restaurant       1
Bar                         1
Gift Shop                   1
Chinese Restaurant          1
Taiwanese Restaurant        1
General Entertainment       1
Sandwich Place              1
Caribbean Restaurant        1
Thai Restaurant             1
Burger Joint                1
Butcher                     1
Bike Rental / Bike Share    1
Deli / Bodega               1
Bank                        1
Indian Restaurant           1
Name: Venue Categories, dtype: int64

'====Church and Wellesley===='

Coffee Shop            7
Japanese Restaurant    5
Caf                   3
Gay Bar                3
Restaurant             3
                      ..
American Restaurant    1
Video Store            1
Sake Bar               1
Indian Restaurant      1
Salon / Barbershop     1
Name: Venue Categories, Length: 66, dtype: int64

'====Regent Park, Harbourfront===='

Coffee Shop                 10
Italian Restaurant           4
Pub                          4
Restaurant                   4
Park                         4
Caf                         3
Bakery                       3
Thai Restaurant              2
Theater                      2
Breakfast Spot               2
Cosmetics Shop               2
Performing Arts Venue        2
Mexican Restaurant           2
Gastropub                    1
Athletics & Sports           1
Mediterranean Restaurant     1
Liquor Store                 1
Asian Restaurant             1
Yoga Studio                  1
Ice Cream Shop               1
Distribution Center          1
Food Truck                   1
Grocery Store                1
Health & Beauty Service      1
Fast Food Restaurant         1
Tram Station                 1
Health Food Store            1
Beer Store                   1
Tech Startup                 1
Gym                          1
Historic Site                1
Bank                         1
Antique Shop                 1
Spanish Restaurant           1
Pet Store                    1
Skating Rink                 1
Discount Store               1
Spa                          1
Hotel                        1
Chocolate Shop               1
Sandwich Place               1
Event Space                  1
French Restaurant            1
Pharmacy                     1
Bar                          1
Dance Studio                 1
Pool                         1
Electronics Store            1
Farmers Market               1
Shoe Store                   1
Furniture / Home Store       1
Dessert Shop                 1
Gym Pool                     1
Animal Shelter               1
Name: Venue Categories, dtype: int64

'====Garden District, Ryerson===='

Coffee Shop                   10
Clothing Store                 6
Restaurant                     4
Middle Eastern Restaurant      3
Italian Restaurant             3
Gastropub                      3
Ramen Restaurant               3
Japanese Restaurant            3
Tea Room                       2
Bubble Tea Shop                2
Sushi Restaurant               2
Fast Food Restaurant           2
Theater                        2
Cosmetics Shop                 2
Plaza                          2
American Restaurant            2
Electronics Store              2
Park                           2
Gym                            2
Department Store               2
Bookstore                      2
Hotel                          2
Thai Restaurant                2
Caf                           2
Breakfast Spot                 1
Poke Place                     1
Supermarket                    1
Spa                            1
Burger Joint                   1
Movie Theater                  1
Seafood Restaurant             1
Comic Shop                     1
Modern European Restaurant     1
Furniture / Home Store         1
College Rec Center             1
Garden                         1
Steakhouse                     1
Diner                          1
Shopping Mall                  1
Miscellaneous Shop             1
Wine Bar                       1
Chinese Restaurant             1
Sandwich Place                 1
Yoga Studio                    1
Office                         1
Bakery                         1
Bar                            1
Mexican Restaurant             1
Dessert Shop                   1
Poutine Place                  1
Beer Bar                       1
Gym / Fitness Center           1
New American Restaurant        1
Dance Studio                   1
Historic Site                  1
Toy / Game Store               1
Name: Venue Categories, dtype: int64

'====St. James Town===='

Coffee Shop                      9
Caf                             6
Bakery                           5
Restaurant                       5
Gastropub                        3
Diner                            3
Cosmetics Shop                   3
Hotel                            3
Italian Restaurant               3
Seafood Restaurant               3
Japanese Restaurant              3
Theater                          2
Farmers Market                   2
Park                             2
Breakfast Spot                   2
Clothing Store                   2
American Restaurant              2
BBQ Joint                        2
Cocktail Bar                     2
Gym                              2
Thai Restaurant                  2
Creperie                         2
Beer Bar                         2
Camera Store                     1
Vegetarian / Vegan Restaurant    1
Food Truck                       1
Monument / Landmark              1
Shopping Mall                    1
German Restaurant                1
Museum                           1
Lingerie Store                   1
Korean Restaurant                1
Grocery Store                    1
Movie Theater                    1
Tailor Shop                      1
New American Restaurant          1
Furniture / Home Store           1
Jazz Club                        1
Pub                              1
Sandwich Place                   1
Middle Eastern Restaurant        1
French Restaurant                1
Gym / Fitness Center             1
Bistro                           1
Plaza                            1
Church                           1
Hostel                           1
Bookstore                        1
Electronics Store                1
Fountain                         1
Art Gallery                      1
Food & Drink Shop                1
Department Store                 1
Name: Venue Categories, dtype: int64

'====Berczy Park===='

Coffee Shop                        10
Restaurant                          6
Hotel                               5
Caf                                5
Beer Bar                            4
Japanese Restaurant                 4
Breakfast Spot                      3
Seafood Restaurant                  3
Bakery                              2
Creperie                            2
Farmers Market                      2
Gastropub                           2
Cocktail Bar                        2
Italian Restaurant                  2
Cheese Shop                         2
Park                                2
Sports Bar                          1
Supermarket                         1
Fountain                            1
Food Truck                          1
Beach                               1
Tea Room                            1
Concert Hall                        1
Bagel Shop                          1
Vegetarian / Vegan Restaurant       1
Department Store                    1
Sporting Goods Shop                 1
Movie Theater                       1
Gym                                 1
Gourmet Shop                        1
Bistro                              1
Museum                              1
IT Services                         1
Greek Restaurant                    1
Molecular Gastronomy Restaurant     1
Optical Shop                        1
Lounge                              1
Steakhouse                          1
Butcher                             1
Jazz Club                           1
Pub                                 1
Thai Restaurant                     1
Salad Place                         1
Plaza                               1
Shopping Mall                       1
French Restaurant                   1
BBQ Joint                           1
Church                              1
Liquor Store                        1
Basketball Stadium                  1
Pizza Place                         1
Cosmetics Shop                      1
Diner                               1
Art Gallery                         1
Deli / Bodega                       1
Tailor Shop                         1
Fish Market                         1
Grocery Store                       1
Theater                             1
Comfort Food Restaurant             1
Name: Venue Categories, dtype: int64

'====Central Bay Street===='

Coffee Shop            10
Japanese Restaurant     4
Italian Restaurant      4
Clothing Store          4
Art Gallery             3
                       ..
Seafood Restaurant      1
Beer Bar                1
Restaurant              1
Cosmetics Shop          1
Department Store        1
Name: Venue Categories, Length: 63, dtype: int64

'====Richmond, Adelaide, King===='

Coffee Shop                      7
Caf                             6
Restaurant                       6
Hotel                            5
Theater                          4
Bakery                           3
Gym                              3
Gastropub                        3
Bar                              3
Cosmetics Shop                   2
American Restaurant              2
Pizza Place                      2
Sushi Restaurant                 2
Asian Restaurant                 2
Movie Theater                    2
Concert Hall                     2
Breakfast Spot                   2
Furniture / Home Store           2
Vegetarian / Vegan Restaurant    2
Tea Room                         1
Fast Food Restaurant             1
Ice Cream Shop                   1
Burrito Place                    1
Brazilian Restaurant             1
Japanese Restaurant              1
Latin American Restaurant        1
Shopping Mall                    1
Steakhouse                       1
Department Store                 1
Mediterranean Restaurant         1
Electronics Store                1
Bubble Tea Shop                  1
Yoga Studio                      1
General Travel                   1
Noodle House                     1
Ramen Restaurant                 1
Gym / Fitness Center             1
Souvlaki Shop                    1
Women's Store                    1
Poke Place                       1
Arts & Crafts Store              1
Pub                              1
Thai Restaurant                  1
Sandwich Place                   1
Italian Restaurant               1
Plaza                            1
New American Restaurant          1
Office                           1
Food Court                       1
Speakeasy                        1
Taco Place                       1
Smoke Shop                       1
Juice Bar                        1
Bookstore                        1
Seafood Restaurant               1
Beer Bar                         1
Deli / Bodega                    1
Clothing Store                   1
Name: Venue Categories, dtype: int64

'====Harbourfront East, Union Station, Toronto Islands===='

Coffee Shop                      13
Hotel                             7
Restaurant                        5
Caf                              3
Park                              3
Japanese Restaurant               3
Brewery                           3
Italian Restaurant                2
Deli / Bodega                     2
Concert Hall                      2
Pizza Place                       2
Seafood Restaurant                2
Scenic Lookout                    2
Plaza                             2
Aquarium                          2
Baseball Stadium                  2
Bar                               2
Music Venue                       2
Vegetarian / Vegan Restaurant     1
Roof Deck                         1
Wine Bar                          1
Supermarket                       1
Sporting Goods Shop               1
Sports Bar                        1
Dessert Shop                      1
Monument / Landmark               1
Skating Rink                      1
Bistro                            1
Train Station                     1
Shopping Mall                     1
Greek Restaurant                  1
Beer Store                        1
Lounge                            1
Convenience Store                 1
Tea Room                          1
Chinese Restaurant                1
Track                             1
Beer Bar                          1
Theater                           1
Hotel Bar                         1
Salad Place                       1
Spa                               1
Indian Restaurant                 1
Ice Cream Shop                    1
Sandwich Place                    1
Event Space                       1
Thai Restaurant                   1
Bubble Tea Shop                   1
Sushi Restaurant                  1
Basketball Stadium                1
Performing Arts Venue             1
Dance Studio                      1
Art Gallery                       1
Fried Chicken Joint               1
Steakhouse                        1
Lake                              1
Yoga Studio                       1
Grocery Store                     1
Name: Venue Categories, dtype: int64

'====Toronto Dominion Centre, Design Exchange===='

Coffee Shop                      10
Caf                              8
Hotel                             7
Restaurant                        6
Bar                               3
Gastropub                         3
Seafood Restaurant                3
Plaza                             2
Japanese Restaurant               2
Concert Hall                      2
Pizza Place                       2
Theater                           2
American Restaurant               2
Italian Restaurant                2
Deli / Bodega                     2
Gym                               2
Bakery                            2
Park                              2
Beer Bar                          2
Vegetarian / Vegan Restaurant     2
Asian Restaurant                  1
Ice Cream Shop                    1
Food Truck                        1
Fast Food Restaurant              1
General Travel                    1
Roof Deck                         1
Mediterranean Restaurant          1
Fountain                          1
Train Station                     1
Greek Restaurant                  1
Sporting Goods Shop               1
Shopping Mall                     1
Museum                            1
Burrito Place                     1
Tea Room                          1
Salad Place                       1
New American Restaurant           1
Spa                               1
Brazilian Restaurant              1
Pub                               1
Thai Restaurant                   1
Sandwich Place                    1
French Restaurant                 1
Gym / Fitness Center              1
Supermarket                       1
Tailor Shop                       1
Food Court                        1
Lounge                            1
Speakeasy                         1
Bookstore                         1
Basketball Stadium                1
Steakhouse                        1
Art Gallery                       1
Wine Bar                          1
Name: Venue Categories, dtype: int64

'====Commerce Court, Victoria Hotel===='

Coffee Shop                      12
Caf                              6
Restaurant                        5
American Restaurant               4
Hotel                             4
Japanese Restaurant               4
Beer Bar                          3
Gastropub                         3
Seafood Restaurant                3
Concert Hall                      3
Tea Room                          2
Cosmetics Shop                    2
Bakery                            2
Deli / Bodega                     2
Cocktail Bar                      2
Bar                               2
Vegetarian / Vegan Restaurant     2
Asian Restaurant                  2
Gym                               2
Train Station                     1
Shopping Mall                     1
Wine Bar                          1
Museum                            1
Park                              1
Monument / Landmark               1
Sporting Goods Shop               1
Art Gallery                       1
Food Truck                        1
General Travel                    1
Greek Restaurant                  1
Breakfast Spot                    1
Tailor Shop                       1
Basketball Stadium                1
Theater                           1
French Restaurant                 1
Steakhouse                        1
Creperie                          1
Jazz Club                         1
Pub                               1
Thai Restaurant                   1
Sandwich Place                    1
Italian Restaurant                1
Plaza                             1
Gym / Fitness Center              1
Pizza Place                       1
New American Restaurant           1
Food Court                        1
Lounge                            1
Speakeasy                         1
Church                            1
Bookstore                         1
Sushi Restaurant                  1
Fountain                          1
Department Store                  1
Name: Venue Categories, dtype: int64

'====Bedford Park, Lawrence Manor East===='

Coffee Shop                3
Italian Restaurant         3
Cosmetics Shop             2
Sandwich Place             2
Pizza Place                2
Restaurant                 2
Wings Joint                1
Caf                       1
Comfort Food Restaurant    1
Bagel Shop                 1
American Restaurant        1
Park                       1
Sushi Restaurant           1
Juice Bar                  1
Greek Restaurant           1
Fast Food Restaurant       1
Pharmacy                   1
Video Store                1
Intersection               1
Bank                       1
Butcher                    1
Thai Restaurant            1
Pub                        1
Liquor Store               1
Grocery Store              1
Bakery                     1
Sports Club                1
Indian Restaurant          1
Name: Venue Categories, dtype: int64

'====Roselawn===='

Spa             2
Playground      2
Home Service    1
Pet Store       1
Garden          1
Name: Venue Categories, dtype: int64

'====Forest Hill North & West===='

Park                1
Asian Restaurant    1
Sushi Restaurant    1
Jewelry Store       1
Trail               1
Name: Venue Categories, dtype: int64

'====The Annex, North Midtown, Yorkville===='

Coffee Shop                      6
Pizza Place                      5
Caf                             4
Pub                              3
Vegetarian / Vegan Restaurant    3
Tea Room                         2
Gym                              2
History Museum                   2
Burger Joint                     2
Restaurant                       2
Indian Restaurant                2
Pharmacy                         2
Diner                            2
Thai Restaurant                  2
Mexican Restaurant               2
Sandwich Place                   2
Greek Restaurant                 1
Burrito Place                    1
Gastropub                        1
Sushi Restaurant                 1
Ice Cream Shop                   1
Breakfast Spot                   1
Castle                           1
Jewish Restaurant                1
Liquor Store                     1
Latin American Restaurant        1
Hotel                            1
Creperie                         1
Donut Shop                       1
Falafel Restaurant               1
Intersection                     1
Museum                           1
Steakhouse                       1
Sports Bar                       1
Korean Restaurant                1
BBQ Joint                        1
Cosmetics Shop                   1
Gym / Fitness Center             1
French Restaurant                1
Historic Site                    1
Design Studio                    1
Italian Restaurant               1
Park                             1
Middle Eastern Restaurant        1
American Restaurant              1
Theater                          1
Japanese Restaurant              1
Social Club                      1
Wings Joint                      1
Deli / Bodega                    1
Modern European Restaurant       1
Ramen Restaurant                 1
Bakery                           1
Grocery Store                    1
Bubble Tea Shop                  1
Fried Chicken Joint              1
Name: Venue Categories, dtype: int64

'====University of Toronto, Harbord===='

Caf                   8
Restaurant             5
Coffee Shop            5
Pizza Place            4
Bakery                 3
                      ..
Theater                1
Wings Joint            1
Dumpling Restaurant    1
Beer Bar               1
Music Store            1
Name: Venue Categories, Length: 63, dtype: int64

'====Kensington Market, Chinatown, Grange Park===='

Caf                             10
Bar                               7
Vegetarian / Vegan Restaurant     5
Dessert Shop                      3
Vietnamese Restaurant             3
Art Gallery                       3
Coffee Shop                       3
Mexican Restaurant                3
Dumpling Restaurant               2
Ramen Restaurant                  2
Bakery                            2
Yoga Studio                       2
Farmers Market                    2
Pizza Place                       2
Park                              2
Chinese Restaurant                2
Grocery Store                     2
Comfort Food Restaurant           2
Burger Joint                      2
French Restaurant                 2
Massage Studio                    1
Cheese Shop                       1
Bagel Shop                        1
Wine Bar                          1
Record Shop                       1
Sporting Goods Shop               1
Brewery                           1
Cocktail Bar                      1
Bubble Tea Shop                   1
Supermarket                       1
Belgian Restaurant                1
Caribbean Restaurant              1
Taco Place                        1
Restaurant                        1
Music Venue                       1
Cosmetics Shop                    1
Poutine Place                     1
Sandwich Place                    1
Beer Bar                          1
Furniture / Home Store            1
Gift Shop                         1
Creperie                          1
Street Art                        1
Udon Restaurant                   1
Fish & Chips Shop                 1
Arts & Crafts Store               1
Ice Cream Shop                    1
Gaming Cafe                       1
Shoe Store                        1
Food Court                        1
Thai Restaurant                   1
Organic Grocery                   1
Doner Restaurant                  1
Hostel                            1
Sushi Restaurant                  1
Fish Market                       1
Noodle House                      1
Dance Studio                      1
Filipino Restaurant               1
Name: Venue Categories, dtype: int64

'====CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst\n Quay, South Niagara, Island airport===='

Rental Car Location    3
Airport Lounge         2
Coffee Shop            2
Harbor / Marina        2
Boat or Ferry          2
Sculpture Garden       2
Airport Service        2
Airport Terminal       2
Airport                1
Airport Food Court     1
Bar                    1
Boutique               1
Park                   1
Tunnel                 1
Pier                   1
Airport Gate           1
Music Venue            1
Name: Venue Categories, dtype: int64

'====Stn A PO Boxes===='

Coffee Shop                        14
Restaurant                          6
Caf                                6
Japanese Restaurant                 5
Beer Bar                            4
Bakery                              3
Hotel                               3
Seafood Restaurant                  3
Gym                                 3
Italian Restaurant                  2
Art Gallery                         2
BBQ Joint                           2
Cocktail Bar                        2
Farmers Market                      2
Breakfast Spot                      2
Creperie                            2
Cheese Shop                         2
Gastropub                           2
Food Truck                          1
Liquor Store                        1
Deli / Bodega                       1
Tea Room                            1
Ice Cream Shop                      1
Vegetarian / Vegan Restaurant       1
Department Store                    1
Sporting Goods Shop                 1
Bistro                              1
Concert Hall                        1
Fountain                            1
Movie Theater                       1
Grocery Store                       1
Bagel Shop                          1
Molecular Gastronomy Restaurant     1
Tailor Shop                         1
Diner                               1
Jazz Club                           1
Sandwich Place                      1
Poke Place                          1
Basketball Stadium                  1
Pub                                 1
Thai Restaurant                     1
American Restaurant                 1
Plaza                               1
Shopping Mall                       1
French Restaurant                   1
Museum                              1
Lounge                              1
Church                              1
Park                                1
Pizza Place                         1
Fish Market                         1
Cosmetics Shop                      1
Comfort Food Restaurant             1
Name: Venue Categories, dtype: int64

'====First Canadian Place, Underground city===='

Hotel                            8
Coffee Shop                      8
Restaurant                       7
Caf                             7
Italian Restaurant               3
Bar                              3
Gastropub                        3
Theater                          3
Bookstore                        2
Japanese Restaurant              2
Pizza Place                      2
American Restaurant              2
Concert Hall                     2
Beer Bar                         2
Gym                              2
Asian Restaurant                 2
Deli / Bodega                    2
Bakery                           2
Seafood Restaurant               2
Ice Cream Shop                   1
Food Truck                       1
Tea Room                         1
General Travel                   1
Mediterranean Restaurant         1
Fast Food Restaurant             1
Breakfast Spot                   1
Train Station                    1
Vegetarian / Vegan Restaurant    1
Latin American Restaurant        1
Sporting Goods Shop              1
Basketball Stadium               1
Museum                           1
Steakhouse                       1
Burrito Place                    1
Cosmetics Shop                   1
Salad Place                      1
Gym / Fitness Center             1
Spa                              1
Brazilian Restaurant             1
Pub                              1
Thai Restaurant                  1
Sandwich Place                   1
Plaza                            1
French Restaurant                1
New American Restaurant          1
Tailor Shop                      1
Food Court                       1
Speakeasy                        1
Smoke Shop                       1
Sushi Restaurant                 1
Park                             1
Noodle House                     1
Art Gallery                      1
Department Store                 1
Name: Venue Categories, dtype: int64

'====Lawrence Manor, Lawrence Heights===='

Furniture / Home Store           5
Accessories Store                2
Coffee Shop                      2
Dessert Shop                     2
Fast Food Restaurant             2
Restaurant                       2
Vietnamese Restaurant            2
Athletics & Sports               2
Clothing Store                   2
Sushi Restaurant                 1
Seafood Restaurant               1
Hobby Shop                       1
Fried Chicken Joint              1
Greek Restaurant                 1
Bowling Alley                    1
Cosmetics Shop                   1
Park                             1
Korean Restaurant                1
Boutique                         1
Bank                             1
Paper / Office Supplies Store    1
Event Space                      1
Miscellaneous Shop               1
Cheese Shop                      1
Discount Store                   1
Grocery Store                    1
Gym / Fitness Center             1
Name: Venue Categories, dtype: int64

'====Glencairn===='

Gas Station                  2
Grocery Store                2
Pizza Place                  2
Flower Shop                  1
Latin American Restaurant    1
Playground                   1
Japanese Restaurant          1
Mediterranean Restaurant     1
Pub                          1
Ice Cream Shop               1
Park                         1
Restaurant                   1
Coffee Shop                  1
Name: Venue Categories, dtype: int64

'====Humewood-Cedarvale===='

Middle Eastern Restaurant    1
Grocery Store                1
Park                         1
Pharmacy                     1
Bakery                       1
Field                        1
Hockey Arena                 1
Convenience Store            1
Korean Restaurant            1
Sushi Restaurant             1
Gastropub                    1
Restaurant                   1
Farmers Market               1
Bagel Shop                   1
Italian Restaurant           1
Trail                        1
Name: Venue Categories, dtype: int64

'====Caledonia-Fairbanks===='

Park                   2
Gym                    1
Bakery                 1
Women's Store          1
Sporting Goods Shop    1
Market                 1
Mexican Restaurant     1
Beer Store             1
Grocery Store          1
Japanese Restaurant    1
Bank                   1
Name: Venue Categories, dtype: int64

'====Christie===='

Grocery Store                4
Coffee Shop                  3
Caf                         3
Park                         3
Indian Restaurant            2
Italian Restaurant           2
Diner                        2
Candy Store                  1
Restaurant                   1
Ice Cream Shop               1
Mexican Restaurant           1
Hardware Store               1
Athletics & Sports           1
Karaoke Bar                  1
Gym                          1
Japanese Restaurant          1
Playground                   1
Latin American Restaurant    1
Baby Store                   1
Beer Store                   1
Design Studio                1
Name: Venue Categories, dtype: int64

'====Dufferin, Dovercourt Village===='

Coffee Shop                  3
Gym                          2
Portuguese Restaurant        2
Italian Restaurant           2
Bar                          2
Bakery                       2
Pharmacy                     2
Park                         2
Music Venue                  1
Diner                        1
Ice Cream Shop               1
Gym / Fitness Center         1
Bank                         1
Brewery                      1
Discount Store               1
Caf                         1
Camera Store                 1
Art Gallery                  1
Smoke Shop                   1
Grocery Store                1
Supermarket                  1
Pool                         1
Dog Run                      1
Middle Eastern Restaurant    1
Name: Venue Categories, dtype: int64

'====Little Portugal, Trinity===='

Bar                              8
Restaurant                       7
Coffee Shop                      5
Caf                             5
Cocktail Bar                     4
Italian Restaurant               4
Vegetarian / Vegan Restaurant    3
Pizza Place                      3
Asian Restaurant                 3
Bakery                           3
Park                             2
Men's Store                      2
Korean Restaurant                2
French Restaurant                2
Theater                          2
Lounge                           2
Gift Shop                        2
Japanese Restaurant              2
Vietnamese Restaurant            2
Juice Bar                        2
Wine Bar                         2
Deli / Bodega                    1
Tapas Restaurant                 1
Miscellaneous Shop               1
Burrito Place                    1
Nightclub                        1
Cupcake Shop                     1
Beer Store                       1
Breakfast Spot                   1
Bistro                           1
Yoga Studio                      1
Greek Restaurant                 1
Brewery                          1
Paper / Office Supplies Store    1
Beer Bar                         1
Record Shop                      1
Cuban Restaurant                 1
Hotel Bar                        1
Spa                              1
Ethiopian Restaurant             1
Arts & Crafts Store              1
Pub                              1
Ice Cream Shop                   1
Mexican Restaurant               1
New American Restaurant          1
Poutine Place                    1
Mac & Cheese Joint               1
Clothing Store                   1
Soup Place                       1
Bookstore                        1
Seafood Restaurant               1
American Restaurant              1
Art Gallery                      1
Diner                            1
Name: Venue Categories, dtype: int64

'====Brockton, Parkdale Village, Exhibition Place===='

Coffee Shop                      5
Caf                             5
Restaurant                       4
Bar                              3
Gift Shop                        3
Bakery                           3
Italian Restaurant               2
Plaza                            2
Music Venue                      2
Supermarket                      2
Arts & Crafts Store              2
Nightclub                        2
Furniture / Home Store           2
Thrift / Vintage Store           2
Ice Cream Shop                   1
Liquor Store                     1
Japanese Restaurant              1
Convenience Store                1
Burger Joint                     1
Vegetarian / Vegan Restaurant    1
Breakfast Spot                   1
Cocktail Bar                     1
Theater                          1
Climbing Gym                     1
Accessories Store                1
Gym                              1
Theme Park Ride / Attraction     1
Brewery                          1
Falafel Restaurant               1
Festival                         1
Food                             1
Comfort Food Restaurant          1
Tapas Restaurant                 1
Tea Room                         1
Grocery Store                    1
Arts & Entertainment             1
Hawaiian Restaurant              1
Ethiopian Restaurant             1
Chiropractor                     1
Spa                              1
Hotel                            1
Sandwich Place                   1
Beach Bar                        1
Mexican Restaurant               1
Intersection                     1
French Restaurant                1
New American Restaurant          1
Pet Store                        1
Boutique                         1
Lounge                           1
Dance Studio                     1
Seafood Restaurant               1
American Restaurant              1
Performing Arts Venue            1
Diner                            1
Art Gallery                      1
Tibetan Restaurant               1
Trail                            1
Name: Venue Categories, dtype: int64

'====North Park, Maple Leaf Park, Upwood Park===='

Home Service                  2
Construction & Landscaping    1
Bakery                        1
Name: Venue Categories, dtype: int64

'====Del Ray, Mount Dennis, Keelsdale and Silverthorn===='

Dessert Shop         1
Gas Station          1
Sandwich Place       1
Wine Shop            1
Convenience Store    1
Coffee Shop          1
Discount Store       1
Name: Venue Categories, dtype: int64

'====Runnymede, The Junction North===='

Brewery                   3
Athletics & Sports        2
Furniture / Home Store    2
Coffee Shop               2
Pizza Place               2
Park                      2
Thai Restaurant           1
Supermarket               1
Video Game Store          1
Convenience Store         1
Fried Chicken Joint       1
Gas Station               1
Sandwich Place            1
Bus Line                  1
Discount Store            1
Grocery Store             1
Beer Store                1
Indian Restaurant         1
Name: Venue Categories, dtype: int64

'====High Park, The Junction South===='

Bar                                         5
Caf                                        4
Italian Restaurant                          4
Park                                        3
Thai Restaurant                             3
Flea Market                                 2
Coffee Shop                                 2
Bakery                                      2
Grocery Store                               2
Antique Shop                                2
Gym                                         2
Mexican Restaurant                          2
Music Venue                                 1
Fried Chicken Joint                         1
Speakeasy                                   1
Tennis Court                                1
Bus Stop                                    1
Gastropub                                   1
Seafood Restaurant                          1
Fast Food Restaurant                        1
Gym / Fitness Center                        1
Residential Building (Apartment / Condo)    1
Diner                                       1
Breakfast Spot                              1
Sushi Restaurant                            1
Bookstore                                   1
Convenience Store                           1
Fish Market                                 1
Baseball Field                              1
Cosmetics Shop                              1
Nail Salon                                  1
Arts & Crafts Store                         1
Cajun / Creole Restaurant                   1
Organic Grocery                             1
Yoga Studio                                 1
Furniture / Home Store                      1
Dessert Shop                                1
Vietnamese Restaurant                       1
Storage Facility                            1
Deli / Bodega                               1
Indian Restaurant                           1
Name: Venue Categories, dtype: int64

'====Parkdale, Roncesvalles===='

Bar                            4
Restaurant                     3
Caf                           3
Thai Restaurant                3
Breakfast Spot                 2
Coffee Shop                    2
Convenience Store              2
Bookstore                      2
Pub                            2
Amphitheater                   2
Gourmet Shop                   2
Grocery Store                  2
Gift Shop                      2
Pizza Place                    2
American Restaurant            2
Dog Run                        2
Sushi Restaurant               2
Food & Drink Shop              1
Curling Ice                    1
Fish Market                    1
Other Great Outdoors           1
Movie Theater                  1
Brewery                        1
Park                           1
Falafel Restaurant             1
Italian Restaurant             1
BBQ Joint                      1
Outdoors & Recreation          1
Ice Cream Shop                 1
Cuban Restaurant               1
Eastern European Restaurant    1
Butcher                        1
Gastropub                      1
Sports Bar                     1
Castle                         1
Playground                     1
Sandwich Place                 1
Bakery                         1
Dessert Shop                   1
Gas Station                    1
Name: Venue Categories, dtype: int64

'====Runnymede, Swansea===='

Coffee Shop                      5
Caf                             5
Pizza Place                      4
Italian Restaurant               3
Pub                              3
Restaurant                       3
Bakery                           3
Gastropub                        2
Bank                             2
Falafel Restaurant               2
Sushi Restaurant                 2
Latin American Restaurant        2
Spa                              2
Park                             2
Dance Studio                     1
Vegetarian / Vegan Restaurant    1
Thai Restaurant                  1
Shoe Store                       1
Juice Bar                        1
Bookstore                        1
Food                             1
American Restaurant              1
Diner                            1
Pharmacy                         1
French Restaurant                1
River                            1
Pilates Studio                   1
Food & Drink Shop                1
Frozen Yogurt Shop               1
Dessert Shop                     1
Bar                              1
Flower Shop                      1
Yoga Studio                      1
Health Food Store                1
Gym                              1
Fish & Chips Shop                1
Burrito Place                    1
Sandwich Place                   1
Tea Room                         1
Gourmet Shop                     1
Burger Joint                     1
Indie Movie Theater              1
Indian Restaurant                1
Name: Venue Categories, dtype: int64

"====Queen's Park, Ontario Provincial Government===="

Coffee Shop                      14
Caf                              6
Italian Restaurant                5
Sandwich Place                    4
Park                              3
Burger Joint                      3
Japanese Restaurant               3
Gastropub                         3
Burrito Place                     2
Ice Cream Shop                    2
Thai Restaurant                   2
Yoga Studio                       2
Gym                               2
Falafel Restaurant                2
Office                            1
Bar                               1
Dessert Shop                      1
Grocery Store                     1
Theater                           1
Bubble Tea Shop                   1
Mediterranean Restaurant          1
Korean Restaurant                 1
Electronics Store                 1
Vegetarian / Vegan Restaurant     1
Video Store                       1
Smoke Shop                        1
Art Museum                        1
Bank                              1
Modern European Restaurant        1
Ramen Restaurant                  1
Indian Restaurant                 1
French Restaurant                 1
Deli / Bodega                     1
Distribution Center               1
Creperie                          1
Discount Store                    1
Arts & Crafts Store               1
Mexican Restaurant                1
Beer Bar                          1
College Theater                   1
Middle Eastern Restaurant         1
Pharmacy                          1
Diner                             1
Boutique                          1
Fried Chicken Joint               1
Hobby Shop                        1
Dance Studio                      1
Juice Bar                         1
Bookstore                         1
Sushi Restaurant                  1
Martial Arts Dojo                 1
Pizza Place                       1
Department Store                  1
Name: Venue Categories, dtype: int64

'====Canada Post Gateway Processing Centre===='

Coffee Shop                      5
Chinese Restaurant               5
Hotel                            3
Sushi Restaurant                 2
Burrito Place                    2
Middle Eastern Restaurant        2
Pizza Place                      2
Fried Chicken Joint              2
Sporting Goods Shop              1
Breakfast Spot                   1
Falafel Restaurant               1
Food                             1
Gym / Fitness Center             1
Gym                              1
Shopping Mall                    1
Juice Bar                        1
Food Court                       1
Hookah Bar                       1
Portuguese Restaurant            1
Burger Joint                     1
Nightclub                        1
Paper / Office Supplies Store    1
Mexican Restaurant               1
Asian Restaurant                 1
Thai Restaurant                  1
Intersection                     1
Sandwich Place                   1
Playground                       1
Bakery                           1
Caribbean Restaurant             1
Indian Restaurant                1
Name: Venue Categories, dtype: int64

'====Business reply mail Processing CentrE===='

Fast Food Restaurant      4
Bar                       3
Burrito Place             2
Coffee Shop               2
Harbor / Marina           2
Clothing Store            2
Pub                       2
Brewery                   2
Italian Restaurant        2
Intersection              2
Restaurant                2
Light Rail Station        2
Bakery                    2
Liquor Store              1
Flea Market               1
Beer Store                1
Thrift / Vintage Store    1
Farmers Market            1
Pizza Place               1
Park                      1
Hardware Store            1
Sushi Restaurant          1
BBQ Joint                 1
Smoke Shop                1
Grocery Store             1
Thai Restaurant           1
Wine Shop                 1
Comic Shop                1
Garden Center             1
Pet Store                 1
Yoga Studio               1
Steakhouse                1
Snack Place               1
Bank                      1
Skate Park                1
Spa                       1
Sandwich Place            1
Movie Theater             1
Name: Venue Categories, dtype: int64

'====New Toronto, Mimico South, Humber Bay Shores===='

Caf                    3
Mexican Restaurant      2
Pharmacy                2
Pizza Place             1
Seafood Restaurant      1
Restaurant              1
Dessert Shop            1
Sushi Restaurant        1
Liquor Store            1
Bus Stop                1
Gym                     1
Fast Food Restaurant    1
Bakery                  1
Fried Chicken Joint     1
Pet Store               1
Breakfast Spot          1
American Restaurant     1
Name: Venue Categories, dtype: int64

'====Alderwood, Long Branch===='

Pizza Place           2
Convenience Store     2
Skating Rink          1
Park                  1
Gas Station           1
Pharmacy              1
Donut Shop            1
Pub                   1
Gym                   1
Athletics & Sports    1
Coffee Shop           1
Sandwich Place        1
Dance Studio          1
Name: Venue Categories, dtype: int64

'====The Kingsway, Montgomery Road , Old Mill North===='

Bank                  2
Breakfast Spot        2
Bakery                2
Sushi Restaurant      2
Bus Line              1
Italian Restaurant    1
Greek Restaurant      1
River                 1
Restaurant            1
Coffee Shop           1
Pub                   1
Liquor Store          1
Burger Joint          1
French Restaurant     1
Metro Station         1
Thai Restaurant       1
Pharmacy              1
Caf                  1
Dessert Shop          1
Park                  1
Business Service      1
Smoke Shop            1
Name: Venue Categories, dtype: int64

"====Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East===="

Park                          1
Gym / Fitness Center          1
Construction & Landscaping    1
Baseball Field                1
Name: Venue Categories, dtype: int64

'====Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West===='

Gym / Fitness Center    3
Wings Joint             1
Fast Food Restaurant    1
Italian Restaurant      1
Bakery                  1
Bank                    1
Sandwich Place          1
Coffee Shop             1
Burrito Place           1
Sushi Restaurant        1
Liquor Store            1
Miscellaneous Shop      1
Gym                     1
Automotive Shop         1
Cheese Shop             1
Discount Store          1
Yoga Studio             1
Grocery Store           1
Supplement Shop         1
Caf                    1
Kids Store              1
Burger Joint            1
Hardware Store          1
Convenience Store       1
Name: Venue Categories, dtype: int64

'====Islington Avenue===='

Pharmacy         2
Playground       1
Shopping Mall    1
Skating Rink     1
Park             1
Caf             1
Grocery Store    1
Bank             1
Name: Venue Categories, dtype: int64

'====West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale===='

Pizza Place           2
Gym                   1
Coffee Shop           1
Restaurant            1
Convenience Store     1
Mexican Restaurant    1
Hotel                 1
Theater               1
Bank                  1
Name: Venue Categories, dtype: int64

'====Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood===='

Park                 2
Electronics Store    1
Caf                 1
Liquor Store         1
Pet Store            1
Coffee Shop          1
Pizza Place          1
Beer Store           1
Cosmetics Shop       1
Gas Station          1
Shopping Plaza       1
Convenience Store    1
Name: Venue Categories, dtype: int64

'====Humber Summit===='

Bakery                 2
Arts & Crafts Store    1
Empanada Restaurant    1
Name: Venue Categories, dtype: int64

'====Humberlea, Emery===='

Discount Store            1
Furniture / Home Store    1
Convenience Store         1
Baseball Field            1
Italian Restaurant        1
Gas Station               1
Name: Venue Categories, dtype: int64

'====Weston===='

Breakfast Spot         1
Pharmacy               1
Fried Chicken Joint    1
Caf                   1
Park                   1
Pizza Place            1
Diner                  1
Convenience Store      1
Name: Venue Categories, dtype: int64

'====Westmount===='

Pizza Place                  2
Discount Store               1
Gas Station                  1
Golf Driving Range           1
Chinese Restaurant           1
Flea Market                  1
Intersection                 1
Ice Cream Shop               1
Sandwich Place               1
Golf Course                  1
Supermarket                  1
Coffee Shop                  1
Middle Eastern Restaurant    1
Name: Venue Categories, dtype: int64

'====Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens===='

Gas Station            1
Pharmacy               1
American Restaurant    1
Beer Store             1
Chinese Restaurant     1
Shopping Mall          1
Intersection           1
Coffee Shop            1
Sandwich Place         1
Pizza Place            1
Bank                   1
Supermarket            1
Mobile Phone Shop      1
Name: Venue Categories, dtype: int64

'====South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens===='

Grocery Store           3
Pizza Place             2
Fast Food Restaurant    1
Hardware Store          1
Pharmacy                1
Fried Chicken Joint     1
Gym Pool                1
Sandwich Place          1
Beer Store              1
Caribbean Restaurant    1
Name: Venue Categories, dtype: int64

'====Northwest===='

Lounge    1
Name: Venue Categories, dtype: int64

In [350]:
def top_categories_df(df):
    cat_df = pd.DataFrame()
    neighborhoods = venues_df['Neighborhood'].unique()
    for neighborhood in neighborhoods:
        top_cats = venues_df[venues_df['Neighborhood']==neighborhood]['Venue Categories'].value_counts(normalize=True).index
        d = {'Neighborhood':neighborhood}
        d.update({str(idx+1):[cat] for idx, cat in enumerate(top_cats[0:min(4,len(top_cats))])})
        cat_df = cat_df.append(pd.DataFrame(d))
    return cat_df.reset_index().drop('index',axis=1)

In [420]:
top_categories_by_neighborhood = top_categories_df(venues_df)

In [370]:
top_categories_by_neighborhood.head()

,Neighborhood,1,2,3,4
0,"Malvern, Rouge",Fast Food Restaurant,Spa,Business Service,Coffee Shop
1,"Rouge Hill, Port Union, Highland Creek",Breakfast Spot,Burger Joint,Bar,Italian Restaurant
2,"Guildwood, Morningside, West Hill",Fast Food Restaurant,Pizza Place,Sports Bar,Intersection
3,Woburn,Park,Coffee Shop,Business Service,NaN
4,Cedarbrae,Indian Restaurant,Coffee Shop,Bakery,Caribbean Restaurant

We have created a dataframe which finds the top 4 venue categories for each neighborhood (cols 1 - 4). If a neighborhood has fewer than 4 categories of venues, the category for that placement will be NaN. Note that, in comparison to the analysis of Manhattan data, Toronto has many neighborhoods where the top category has just 2 or 3 venues, and then next 10 top categories each have only 1 venue. This diminishes the value of using categories beyond the top few, because then inclusion in this data frame is arbitrary (either alphabetical, earlier order in original df, etc). We now proceed to cluster using k-means algorithm.

In [375]:
from sklearn.cluster import KMeans
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', axis=1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0])

In [377]:
# add clustering labels
top_categories_by_neighborhood.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = tor

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(top_categories_by_neighborhood.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head() # check the last columns!

,Postal Code,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1,2,3,4
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353,0.0,Fast Food Restaurant,Spa,Business Service,Coffee Shop
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497,0.0,Breakfast Spot,Burger Joint,Bar,Italian Restaurant
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,0.0,Fast Food Restaurant,Pizza Place,Sports Bar,Intersection
3,M1G,Scarborough,Woburn,43.770992,-79.216917,0.0,Park,Coffee Shop,Business Service,NaN
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,0.0,Indian Restaurant,Coffee Shop,Bakery,Caribbean Restaurant

In [424]:
top_categories_by_neighborhood = top_categories_df(venues_df)
for kclusters in range(3,12):
    top_categories_by_neighborhood_temp = top_categories_by_neighborhood
    kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)
    top_categories_by_neighborhood_temp['Cluster Labels'] = kmeans.labels_

    toronto_merged = tor

    # merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
    toronto_merged = toronto_merged.join(top_categories_by_neighborhood.set_index('Neighborhood'), on='Neighborhood')
    display(toronto_merged['Cluster Labels'].value_counts())

1.0    94
2.0     7
0.0     1
Name: Cluster Labels, dtype: int64

0.0    59
1.0    41
2.0     1
3.0     1
Name: Cluster Labels, dtype: int64

0.0    80
1.0    19
2.0     1
3.0     1
4.0     1
Name: Cluster Labels, dtype: int64

0.0    52
5.0    33
1.0    14
2.0     1
3.0     1
4.0     1
Name: Cluster Labels, dtype: int64

0.0    51
5.0    33
1.0    14
2.0     1
3.0     1
4.0     1
6.0     1
Name: Cluster Labels, dtype: int64

0.0    90
4.0     6
5.0     1
7.0     1
6.0     1
2.0     1
1.0     1
3.0     1
Name: Cluster Labels, dtype: int64

1.0    56
7.0    32
8.0     7
4.0     2
2.0     1
3.0     1
6.0     1
5.0     1
0.0     1
Name: Cluster Labels, dtype: int64

1.0    56
7.0    32
8.0     6
4.0     2
2.0     1
9.0     1
3.0     1
6.0     1
5.0     1
0.0     1
Name: Cluster Labels, dtype: int64

1.0     59
5.0     32
8.0      2
4.0      2
0.0      1
7.0      1
9.0      1
6.0      1
2.0      1
10.0     1
3.0      1
Name: Cluster Labels, dtype: int64

Using k=6, we begin to see 3 distinct clusters rather than 2, so we will proceed with 6 means.

In [454]:

kclusters = 6
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)
top_categories_by_neighborhood = top_categories_df(venues_df)
top_categories_by_neighborhood.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = tor

toronto_merged = toronto_merged.join(top_categories_by_neighborhood.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1,2,3,4
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353,0.0,Fast Food Restaurant,Spa,Business Service,Coffee Shop
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497,5.0,Breakfast Spot,Burger Joint,Bar,Italian Restaurant
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,5.0,Fast Food Restaurant,Pizza Place,Sports Bar,Intersection
3,M1G,Scarborough,Woburn,43.770992,-79.216917,5.0,Park,Coffee Shop,Business Service,NaN
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,0.0,Indian Restaurant,Coffee Shop,Bakery,Caribbean Restaurant

In [455]:
toronto_merged['Cluster Labels'].apply(int) #throws error, must find and remove NaN value in Cluster Label

ValueError: cannot convert float NaN to integer

In [456]:
toronto_merged['Cluster Labels'].value_counts()

0.0    52
5.0    33
1.0    14
2.0     1
3.0     1
4.0     1
Name: Cluster Labels, dtype: int64

In [457]:
toronto_merged.shape

(103, 10)

In [458]:
import numpy as np
toronto_merged[np.isnan(toronto_merged['Cluster Labels'])]

,Postal Code,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1,2,3,4
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636,NaN,NaN,NaN,NaN,NaN

In [459]:
index_to_drop = toronto_merged[np.isnan(toronto_merged['Cluster Labels'])].index

In [461]:
toronto_merged.drop(index_to_drop,inplace=True)

In [462]:
toronto_merged.shape

(102, 10)

In [463]:
toronto_merged['Cluster Labels'] = toronto_merged['Cluster Labels'].apply(int)

In [464]:
toronto_merged.drop('Postal Code',axis=1,inplace=True)

In [465]:
from matplotlib import cm
import matplotlib.colors as colors
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'],toronto_merged['Longitude'], toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

### Now we will take a closer look at each cluster

In [466]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 0, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighborhood,1,2,3,4
0,"Malvern, Rouge",Fast Food Restaurant,Spa,Business Service,Coffee Shop
4,Cedarbrae,Indian Restaurant,Coffee Shop,Bakery,Caribbean Restaurant
5,Scarborough Village,Ice Cream Shop,Fast Food Restaurant,Sandwich Place,Restaurant
7,"Golden Mile, Clairlea, Oakridge",Intersection,Bus Line,Bakery,Diner
8,"Cliffside, Cliffcrest, Scarborough Village West",Wings Joint,Pizza Place,Hardware Store,Burger Joint
9,"Birch Cliff, Cliffside West",General Entertainment,Skating Rink,College Stadium,Caf
11,"Wexford, Maryvale",Burger Joint,Pizza Place,Middle Eastern Restaurant,Breakfast Spot
12,Agincourt,Seafood Restaurant,Pool Hall,Skating Rink,Lounge
13,"Clarks Corners, Tam O'Shanter, Sullivan",Pharmacy,Intersection,Convenience Store,Pizza Place
14,"Milliken, Agincourt North, Steeles East, L'Amo...",Chinese Restaurant,Pizza Place,Noodle House,Shop & Service
15,"Steeles West, L'Amoreaux West",Fast Food Restaurant,Coffee Shop,Pizza Place,Chinese Restaurant
19,Bayview Village,Bank,Japanese Restaurant,Shopping Mall,Skating Rink
20,"York Mills, Silver Hills",Pool,NaN,NaN,NaN
21,"Willowdale, Newtonbrook",Sushi Restaurant,Park,Coffee Shop,Sandwich Place
23,York Mills West,Park,Bowling Alley,Convenience Store,Pet Store
25,Parkwoods,Food & Drink Shop,Bus Stop,Road,Park
28,"Bathurst Manor, Wilson Heights, Downsview North",Bank,Pizza Place,Coffee Shop,Shopping Mall
29,"Northwood Park, York University",Fast Food Restaurant,Miscellaneous Shop,Caribbean Restaurant,Sandwich Place
34,Victoria Village,Playground,Portuguese Restaurant,Intersection,Coffee Shop
35,"Parkview Hill, Woodbine Gardens",Fast Food Restaurant,Pizza Place,Soccer Stadium,Pet Store
37,The Beaches,Pub,Coffee Shop,Bar,Japanese Restaurant
39,Thorncliffe Park,Indian Restaurant,Park,Afghan Restaurant,Bank
41,"The Danforth West, Riverdale",Greek Restaurant,Coffee Shop,Pub,Caf
42,"India Bazaar, The Beaches West",Indian Restaurant,Sandwich Place,Coffee Shop,Fast Food Restaurant
44,Lawrence Park,Park,Lawyer,Bus Line,Coffee Shop
46,North Toronto West,Coffee Shop,Sporting Goods Shop,Caf,Diner
47,Davisville,Coffee Shop,Italian Restaurant,Pizza Place,Restaurant
50,Rosedale,Park,Trail,Playground,Candy Store
52,Church and Wellesley,Coffee Shop,Japanese Restaurant,Caf,Gay Bar
54,"Garden District, Ryerson",Coffee Shop,Clothing Store,Restaurant,Middle Eastern Restaurant
55,St. James Town,Coffee Shop,Caf,Bakery,Restaurant
58,"Richmond, Adelaide, King",Coffee Shop,Caf,Restaurant,Hotel
60,"Toronto Dominion Centre, Design Exchange",Coffee Shop,Caf,Hotel,Restaurant
62,"Bedford Park, Lawrence Manor East",Coffee Shop,Italian Restaurant,Cosmetics Shop,Sandwich Place
66,"University of Toronto, Harbord",Caf,Restaurant,Coffee Shop,Pizza Place
69,Stn A PO Boxes,Coffee Shop,Restaurant,Caf,Japanese Restaurant
70,"First Canadian Place, Underground city",Hotel,Coffee Shop,Restaurant,Caf
71,"Lawrence Manor, Lawrence Heights",Furniture / Home Store,Accessories Store,Coffee Shop,Dessert Shop
74,Caledonia-Fairbanks,Park,Gym,Bakery,Women's Store
75,Christie,Grocery Store,Coffee Shop,Caf,Park
79,"North Park, Maple Leaf Park, Upwood Park",Home Service,Construction & Landscaping,Bakery,NaN
80,"Del Ray, Mount Dennis, Keelsdale and Silverthorn",Dessert Shop,Gas Station,Sandwich Place,Wine Shop
82,"High Park, The Junction South",Bar,Caf,Italian Restaurant,Park
83,"Parkdale, Roncesvalles",Bar,Restaurant,Caf,Thai Restaurant
84,"Runnymede, Swansea",Coffee Shop,Caf,Pizza Place,Italian Restaurant
85,"Queen's Park, Ontario Provincial Government",Coffee Shop,Caf,Italian Restaurant,Sandwich Place
86,Canada Post Gateway Processing Centre,Coffee Shop,Chinese Restaurant,Hotel,Sushi Restaurant
87,Business reply mail Processing CentrE,Fast Food Restaurant,Bar,Burrito Place,Coffee Shop
88,"New Toronto, Mimico South, Humber Bay Shores",Caf,Mexican Restaurant,Pharmacy,Pizza Place
90,"The Kingsway, Montgomery Road , Old Mill North",Bank,Breakfast Spot,Bakery,Sushi Restaurant
91,"Old Mill South, King's Mill Park, Sunnylea, Hu...",Park,Gym / Fitness Center,Construction & Landscaping,Baseball Field
96,Humber Summit,Bakery,Arts & Crafts Store,Empanada Restaurant,NaN

In [467]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 1, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighborhood,1,2,3,4
6,"Kennedy Park, Ionview, East Birchmount Park",Coffee Shop,Discount Store,Convenience Store,Chinese Restaurant
10,"Dorset Park, Wexford Heights, Scarborough Town...",Furniture / Home Store,Electronics Store,Indian Restaurant,Rental Service
30,Downsview,Vietnamese Restaurant,Coffee Shop,Grocery Store,Pizza Place
31,Downsview,Vietnamese Restaurant,Coffee Shop,Grocery Store,Pizza Place
32,Downsview,Vietnamese Restaurant,Coffee Shop,Grocery Store,Pizza Place
33,Downsview,Vietnamese Restaurant,Coffee Shop,Grocery Store,Pizza Place
36,Woodbine Heights,Skating Rink,Bus Line,Video Store,Pharmacy
53,"Regent Park, Harbourfront",Coffee Shop,Italian Restaurant,Pub,Restaurant
59,"Harbourfront East, Union Station, Toronto Islands",Coffee Shop,Hotel,Restaurant,Caf
65,"The Annex, North Midtown, Yorkville",Coffee Shop,Pizza Place,Caf,Pub
68,"CN Tower, King and Spadina, Railway Lands, Har...",Rental Car Location,Airport Lounge,Coffee Shop,Harbor / Marina
72,Glencairn,Gas Station,Grocery Store,Pizza Place,Flower Shop
99,Westmount,Pizza Place,Discount Store,Gas Station,Golf Driving Range
101,"South Steeles, Silverstone, Humbergate, Jamest...",Grocery Store,Pizza Place,Fast Food Restaurant,Hardware Store

In [468]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 2, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

    Neighborhood       1    2    3    4
102    Northwest  Lounge  NaN  NaN  NaN

In [469]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 3, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

   Neighborhood    1           2             3          4
63     Roselawn  Spa  Playground  Home Service  Pet Store

In [471]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 4, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighborhood,1,2,3,4
61,"Commerce Court, Victoria Hotel",Coffee Shop,Caf,Restaurant,American Restaurant

In [472]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 5, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Neighborhood,1,2,3,4
1,"Rouge Hill, Port Union, Highland Creek",Breakfast Spot,Burger Joint,Bar,Italian Restaurant
2,"Guildwood, Morningside, West Hill",Fast Food Restaurant,Pizza Place,Sports Bar,Intersection
3,Woburn,Park,Coffee Shop,Business Service,NaN
17,Hillcrest Village,Shopping Mall,Chinese Restaurant,Bakery,Recreation Center
18,"Fairview, Henry Farm, Oriole",Clothing Store,Coffee Shop,Japanese Restaurant,Restaurant
22,Willowdale,Pizza Place,Coffee Shop,Ramen Restaurant,Sushi Restaurant
24,Willowdale,Pizza Place,Coffee Shop,Ramen Restaurant,Sushi Restaurant
26,Don Mills,Japanese Restaurant,Gym,Beer Store,Coffee Shop
27,Don Mills,Japanese Restaurant,Gym,Beer Store,Coffee Shop
38,Leaside,Coffee Shop,Furniture / Home Store,Electronics Store,Sporting Goods Shop
40,East Toronto,Pizza Place,Coffee Shop,Caf,Beer Bar
43,Studio District,Caf,Coffee Shop,Bar,American Restaurant
45,Davisville North,Coffee Shop,Caf,Pizza Place,Park
48,"Moore Park, Summerhill East",Park,Grocery Store,Playground,Gym
49,"Summerhill West, Rathnelly, South Hill, Forest...",Coffee Shop,Sushi Restaurant,Italian Restaurant,Pub
51,"St. James Town, Cabbagetown",Coffee Shop,Grocery Store,Restaurant,Park
56,Berczy Park,Coffee Shop,Restaurant,Hotel,Caf
57,Central Bay Street,Coffee Shop,Japanese Restaurant,Italian Restaurant,Clothing Store
64,Forest Hill North & West,Park,Asian Restaurant,Sushi Restaurant,Jewelry Store
67,"Kensington Market, Chinatown, Grange Park",Caf,Bar,Vegetarian / Vegan Restaurant,Dessert Shop
73,Humewood-Cedarvale,Middle Eastern Restaurant,Grocery Store,Park,Pharmacy
76,"Dufferin, Dovercourt Village",Coffee Shop,Gym,Portuguese Restaurant,Italian Restaurant
77,"Little Portugal, Trinity",Bar,Restaurant,Coffee Shop,Caf
78,"Brockton, Parkdale Village, Exhibition Place",Coffee Shop,Caf,Restaurant,Bar
81,"Runnymede, The Junction North",Brewery,Athletics & Sports,Furniture / Home Store,Coffee Shop
89,"Alderwood, Long Branch",Pizza Place,Convenience Store,Skating Rink,Park
92,"Mimico NW, The Queensway West, South of Bloor,...",Gym / Fitness Center,Wings Joint,Fast Food Restaurant,Italian Restaurant
93,Islington Avenue,Pharmacy,Playground,Shopping Mall,Skating Rink
94,"West Deane Park, Princess Gardens, Martin Grov...",Pizza Place,Gym,Coffee Shop,Restaurant
95,"Eringate, Bloordale Gardens, Old Burnhamthorpe...",Park,Electronics Store,Caf,Liquor Store
97,"Humberlea, Emery",Discount Store,Furniture / Home Store,Convenience Store,Baseball Field
98,Weston,Breakfast Spot,Pharmacy,Fried Chicken Joint,Caf
100,"Kingsview Village, St. Phillips, Martin Grove ...",Gas Station,Pharmacy,American Restaurant,Beer Store

We have 3 larger clusters, and 3 smaller/singular clusters. This was the best our algorithm could do, as other values of k identified at most 2 clusters. Cluster 0 looks to contain more fast food restaurants than others, bot absolutely and in proportion. Cluster 1 has 4 Vietnamese restaurants, but they are all located in the same neighborhood, and the rest of cluster contains no other asian food or other restaurants (one pizza place). Cluster 5 seems to find neighborhoods that young people would be more likely to reside in, including many pizza places and coffee shops, as well as a brewery and discount store.